<!----------------------

   Copyright 2020 Battelle Energy Alliance, LLC

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-------------------------->
<div class="extras-block">
    <div class="">
        <button *ngIf="myQuestion.Is_Component" class="extras-button cursor-pointer"
            [class.active]="mode == 'COMPONENT'" (click)="toggleExtras('COMPONENT')" [matTooltip]="Components"
            matTooltipPosition="above">
            <svg style="height: 31px; width: 35px; vertical-align: middle; margin-right: -10px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.75)"
                    d="M28,7.566L28,16.38 28,23.15 28,31.962C28,33.637,26.625,35,24.936,35L7.633,35C6.732,35,5.921,34.611,5.36,33.994L4.678,33.316 4.575,33.316 2.957,31.713 2.314,31.076 2.314,30.969 1.069,29.731C0.951,29.631,0.839,29.52,0.739,29.403L0.727,29.394 0.73,29.394C0.276,28.863,0,28.18,0,27.432L0,18.62 0,11.848 0,3.036C0,1.361,1.372,0,3.062,0L8.052,0 8.052,0.095C6.725,0.427,5.738,1.619,5.738,3.036L5.738,3.201 5.738,4.311 5.738,19.02 7.646,17.401 9.751,19.02 9.751,4.311 9.751,3.201 9.751,3.036C9.751,1.361,11.123,0,12.812,0L20.367,0C22.052,0,23.429,1.361,23.429,3.036L23.429,11.848 23.429,18.62 23.429,27.432C23.429,29.107,22.057,30.47,20.367,30.47L4.913,30.47 6.167,31.713 7.213,32.751 22.668,32.751C24.357,32.751,25.729,31.388,25.729,29.713L25.729,20.901 25.729,15.085 25.729,14.128 25.729,5.317 25.729,4.639C27.033,4.987,28,6.165,28,7.566" />
            </svg>
        </button>

        <button *ngIf="!myQuestion.Is_Component" class="extras-button cursor-pointer" [class.active]="mode == 'DETAIL'"
            (click)="toggleExtras('DETAIL')"
            [matTooltip]="checkForApproach(tab?.RequirementsData?.ExaminationApproach) ? 'Examination Approach' : 'Details/Standard'"
            matTooltipPosition="above">
            <svg style="height: 31px; width: 35px; vertical-align: middle; margin-right: -10px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.75)"
                    d="M28,7.566L28,16.38 28,23.15 28,31.962C28,33.637,26.625,35,24.936,35L7.633,35C6.732,35,5.921,34.611,5.36,33.994L4.678,33.316 4.575,33.316 2.957,31.713 2.314,31.076 2.314,30.969 1.069,29.731C0.951,29.631,0.839,29.52,0.739,29.403L0.727,29.394 0.73,29.394C0.276,28.863,0,28.18,0,27.432L0,18.62 0,11.848 0,3.036C0,1.361,1.372,0,3.062,0L8.052,0 8.052,0.095C6.725,0.427,5.738,1.619,5.738,3.036L5.738,3.201 5.738,4.311 5.738,19.02 7.646,17.401 9.751,19.02 9.751,4.311 9.751,3.201 9.751,3.036C9.751,1.361,11.123,0,12.812,0L20.367,0C22.052,0,23.429,1.361,23.429,3.036L23.429,11.848 23.429,18.62 23.429,27.432C23.429,29.107,22.057,30.47,20.367,30.47L4.913,30.47 6.167,31.713 7.213,32.751 22.668,32.751C24.357,32.751,25.729,31.388,25.729,29.713L25.729,20.901 25.729,15.085 25.729,14.128 25.729,5.317 25.729,4.639C27.033,4.987,28,6.165,28,7.566" />
            </svg>
        </button>

        <button id="btn_supp_{{ myQuestion.QuestionId }}" class="extras-button cursor-pointer"
            [class.active]="mode == 'SUPP'" (click)="toggleExtras('SUPP')" matTooltip="Supplemental"
            matTooltipPosition="above">
            <svg style="height: 31px; width: 35px; vertical-align: middle;  margin-right: -5px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.75)"
                    d="M18.879,29.328C17.64,29.934 16.341,30.24 14.986,30.24 14.044,30.24 13.424,29.824 13.125,28.99 12.927,28.434 13.014,27.26 13.386,25.472L15.071,17.634C15.214,16.934 15.287,16.422 15.287,16.09 15.287,15.614 15.063,15.364 14.615,15.336L13.088,15.228C12.989,15.05 12.945,14.794 12.958,14.466 12.972,14.134 13.039,13.892 13.164,13.74 15.756,13.402 17.941,13.236 19.718,13.236 20.239,13.236 20.499,13.506 20.499,14.044 20.499,14.24 20.462,14.516 20.384,14.868 20.308,15.22 20.206,15.686 20.077,16.27 19.949,16.85 19.846,17.31 19.772,17.65L18.119,25.136C17.758,26.69 17.807,27.464 18.263,27.464 18.49,27.464 18.877,27.294 19.429,26.954 19.981,26.612 20.487,26.19 20.948,25.682 21.171,25.682 21.391,25.802 21.608,26.042 21.825,26.286 21.971,26.518 22.045,26.74 21.175,27.856 20.121,28.718 18.879,29.328 M16.841,5.47C17.307,4.998 17.962,4.764 18.804,4.764 19.538,4.764 20.133,5.024 20.592,5.546 21.052,6.068 21.281,6.652 21.281,7.296 21.281,7.856 21.028,8.388 20.518,8.896 20.008,9.406 19.363,9.66 18.582,9.66 17.849,9.66 17.26,9.404 16.812,8.888 16.365,8.374 16.142,7.788 16.142,7.126 16.142,6.496 16.375,5.942 16.841,5.47 M17.5,0C7.835,0 0,7.834 0,17.5 0,27.164 7.835,35 17.5,35 27.166,35 35,27.164 35,17.5 35,7.834 27.166,0 17.5,0" />
            </svg>
        </button>

        <button class="extras-button cursor-pointer" [class.active]="mode == 'CMNT'" (click)="toggleExtras('CMNT')"
            matTooltip="Comments" matTooltipPosition="above">
            <svg style="height: 31px; width: 37px; vertical-align: middle; margin-right: -4px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.8)"
                    d="M5.523,11.864C5.523,10.271 6.6,9.151 8.173,9.151 9.746,9.151 10.869,10.271 10.869,11.864 10.869,13.413 9.79,14.576 8.219,14.576 6.556,14.576 5.523,13.413 5.523,11.864 M14.827,11.864C14.827,10.271 15.905,9.151 17.478,9.151 19.05,9.151 20.174,10.271 20.174,11.864 20.174,13.413 19.094,14.576 17.523,14.576 15.861,14.576 14.827,13.413 14.827,11.864 M24.132,11.864C24.132,10.271 25.209,9.151 26.782,9.151 28.355,9.151 29.478,10.271 29.478,11.864 29.478,13.413 28.399,14.576 26.828,14.576 25.165,14.576 24.132,13.413 24.132,11.864 M0,3.332L0,20.394C0,22.227,1.565,23.726,3.477,23.726L7.42,23.726 7.42,33 15.455,23.726 31.524,23.726C33.436,23.726,35,22.227,35,20.394L35,3.332C35,1.499,33.436,0,31.524,0L3.477,0C1.565,0,0,1.499,0,3.332" />
                <circle cx="31" cy="7" r="6" stroke="#fff" stroke-width="1" fill="#900" [style.display]="has('CMNT')"
                    class="test" />
            </svg>
        </button>

        <button class="extras-button cursor-pointer" [class.active]="mode == 'DOCS'" (click)="toggleExtras('DOCS')"
            matTooltip="Documents" matTooltipPosition="above">
            <svg style="height: 31px; width: 35px; vertical-align: middle; margin-right: -12px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.7)"
                    d="M19.495,0L19.495,8.726 28.221,8.726z M0,0.202L0,35 28.02,35 28.02,11.522 16.7,11.522 16.7,0.202z M5.729,16.483L22.08,16.483 22.08,19.558 5.729,19.558z M5.729,21.654L22.08,21.654 22.08,24.728 5.729,24.728z M5.729,26.825L22.08,26.825 22.08,29.899 5.729,29.899z" />
                <circle cx="23" cy="7" r="6" stroke="#fff" stroke-width="1" fill="#900" [style.display]="has('DOCS')" />
            </svg>
        </button>

        <button class="extras-button cursor-pointer" [class.active]="mode == 'REFS'" (click)="toggleExtras('REFS')"
            matTooltip="References" matTooltipPosition="above">
            <svg style="height: 31px; width: 35px; vertical-align: middle; margin-right: -8px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.4)"
                    d="M27,20.681L20,20.681 20,4.681 27,4.681z M17,60.681L30,60.681 30,0.681 17,0.681z M45.974,20.131L39.182,21.827 35.307,6.303 42.098,4.607z M31.427,3.149L45.96,61.362 58.573,58.213 44.039,0z M10,20.681L3,20.681 3,4.681 10,4.681z M0,60.681L13,60.681 13,0.681 0,0.681z" />
            </svg>
        </button>

        <button class="extras-button cursor-pointer" [class.active]="mode == 'DISC'" (click)="toggleExtras('DISC')"
            matTooltip="Observations" matTooltipPosition="above">
            <svg viewBox="0 0 31 35" xmlns="http://www.w3.org/2000/svg"
                style="height: 31px; width: 35px; vertical-align: middle; margin-right: -6px">
                <path fill="#044" stroke="transparent" stroke-width="0" transform="scale(.8)"
                    d="M17.479,17.533L17.118,17.717C16.347,18.107,15.869,18.82,15.869,19.575L15.869,19.924 15.85,19.924 15.85,26.23 8.852,26.23 8.852,19.453C8.852,18.707,8.403,18.023,7.657,17.624L7.304,17.438C4.463,15.923 2.763,13.335 2.763,10.511 2.763,8.331 3.774,6.279 5.615,4.729 7.453,3.177 9.894,2.328 12.487,2.328 15.077,2.328 17.517,3.177 19.355,4.727 21.195,6.276 22.203,8.329 22.203,10.511 22.203,13.411 20.439,16.037 17.479,17.533 M17.047,10.111L14.794,11.241C14.76,11.177 13.964,9.66 12.343,9.66 10.71,9.66 9.879,11.19 9.844,11.254L7.604,10.093C7.668,9.973 9.152,7.13 12.343,7.13 15.546,7.13 16.986,9.986 17.047,10.111 M21.307,3.081C18.948,1.093 15.814,0 12.487,0 5.601,0 0,4.716 0,10.511 0,14.137 2.179,17.462 5.829,19.406 5.829,19.406 5.987,19.489 6.086,19.543L6.086,19.924 6.019,19.924 6.019,31.583C6.019,32.084,6.424,32.49,6.925,32.49L8.168,32.49 8.803,32.49 9.172,32.49 9.172,34.093C9.172,34.594,9.578,35,10.079,35L14.891,35C15.392,35,15.798,34.594,15.798,34.093L15.798,32.49 15.85,32.49 17.728,32.49C18.228,32.49,18.634,32.084,18.634,31.583L18.634,26.654 18.634,19.924 18.634,19.667C18.737,19.613 18.904,19.532 18.904,19.532 22.702,17.607 24.97,14.236 24.97,10.511 24.97,7.708 23.668,5.066 21.307,3.081" />
                <circle cx="22" cy="7" r="6" stroke="#fff" stroke-width="1" fill="#900" [style.display]="has('DISC')" />
            </svg>
        </button>

        <button class="extras-button cursor-pointer" [class.active]="mode == 'FDBK'" (click)="toggleExtras('FDBK')"
            matTooltip="Feedback" matTooltipPosition="above">
            <!-- <svg version="1.1" id="Edit_Comment_Icon_-_Edit" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;" -->
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="37px" height="31px" viewBox="44.5 44.5 33 35"
                enable-background="new 44.5 44.5 31 31">
                <path id="Bubble" fill="#004444" d="M69.051,51.771h-0.027l-2.75,4.554h0.834c0.369,0,0.668,0.298,0.668,0.666
        s-0.299,0.667-0.668,0.667h-1.64l-1.072,1.775h2.712c0.369,0,0.668,0.299,0.668,0.667s-0.299,0.667-0.668,0.667H63.59l-1.074,1.778
        h4.592c0.369,0,0.668,0.298,0.668,0.665c0,0.368-0.299,0.667-0.668,0.667h-5.481l-3.513,2.792l-2.095,1.664l0.49-2.63l0.34-1.826
        h-3.956c-0.369,0-0.667-0.299-0.667-0.667c0-0.367,0.297-0.665,0.667-0.665h4.204l0.24-1.289l0.033-0.179l0.094-0.155l0.093-0.154
        h-4.664c-0.369,0-0.667-0.3-0.667-0.667c0-0.368,0.297-0.667,0.667-0.667l5.469,0l1.073-1.776h-6.542
        c-0.369,0-0.667-0.299-0.667-0.667c0-0.367,0.297-0.666,0.667-0.666h7.347l2.75-4.554H50.949c-1.337,0-2.426,1.088-2.426,2.426
        v12.326c0,1.338,1.089,2.428,2.426,2.428h2.757v5.701c0,0.281,0.178,0.534,0.444,0.627c0.074,0.025,0.148,0.037,0.222,0.037
        c0.198,0,0.39-0.087,0.519-0.246l4.955-6.119h9.205c1.338,0,2.426-1.09,2.426-2.428V54.196
        C71.477,52.858,70.389,51.771,69.051,51.771z" />
                <circle cx="73" cy="58" r="6" stroke="#fff" stroke-width="1" fill="#900" [style.display]="has('FDBK')"
                    class="test" />
                <g id="Edit_Pencil">
                    <rect id="Eraser" x="68.775" y="44.493"
                        transform="matrix(-0.5161 0.8565 -0.8565 -0.5161 144.7513 10.3737)" fill="#004444" width="1.34"
                        height="3.166" />
                    <polygon id="Pencil" fill="#004444"
                        points="58.318,61.438 57.491,65.886 61.027,63.075 69.906,48.374 67.197,46.737 	" />
                </g>
            </svg>
        </button>
        <span class="btn-group btn-group-toggle">
            <label class="btn btn-level form-check-label" [class.active]="myQuestion?.Reviewed">
              <input class="form-check-input" type="checkbox" data-toggle="toggle"
                (click)="storeReviewed($event)" [checked]="myQuestion?.Reviewed" />Reviewed
            </label>
        </span>
    </div>

    <app-in-view *ngIf="autoLoadSupplemental()" (inView$)="forceLoadSupplemental()"></app-in-view>

    <div class="question-extras" [class.extras-open]="expanded">

        <div *ngIf="extras == null">
            <div class="spinner-container" style="margin: .5em auto">
                <div style="max-width: 30px; max-height: 30px;"></div>
            </div>
        </div>
        <div *ngIf="myQuestion.Is_Component; else detailTab">
            <div *ngIf="extras !== null && mode == 'COMPONENT'" class="detail">
                <table>
                    <tr>
                        <th>Component Type</th>
                        <th>Override Component Answer</th>
                    </tr>
                    <tr *ngFor="let componentType of tab?.ComponentTypes">
                        <td>{{componentType.Symbol_Name}}</td>
                        <td>
                            <div class="text-right">
                                <button *ngIf="componentType.Enabled; else noOverride"
                                    class="btn btn-link btn-link-dark" style="padding: 0; margin: 0;"
                                    (click)="this.showOverrideDialog(componentType)">Override</button>
                            </div>
                            <ng-template #noOverride>
                                <div class="text-right">None</div>
                            </ng-template>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="extras !== null && mode == 'SUPP'" class="supplemental">
                <div
                    [innerHTML]="tab?.RequirementsData?.SupplementalInfo ? (tab?.RequirementsData?.SupplementalInfo | safe) : ''">
                </div>
            </div>
        </div>
        <ng-template #detailTab>
            <div *ngIf="extras !== null && mode == 'DETAIL' && !checkForApproach(tab?.RequirementsData?.ExaminationApproach)"
                class="detail">
                <div><span class="reqlabel">Title: </span>{{tab?.RequirementFrameworkTitle}}</div>
                <div><span class="reqlabel">Category: </span>{{tab?.RelatedFrameworkCategory}}</div>
                <div><span class="reqlabel">Security Assurance Level (SAL): </span>{{tab?.LevelName}}</div>
                <div *ngIf="!tab?.ShowRequirementStandards" class="reqlabel">Standard Specific Requirement:</div>
                <div *ngIf="!tab?.ShowRequirementStandards">
                    <span [innerHTML]="tab?.RequirementsData?.Text | safe: 'html'"></span>
                    <span *ngIf="configSvc.showQuestionAndRequirementIDs()"
                        class="debug-highlight">{{ tab?.RequirementsData?.RequirementID }}</span>
                </div>
                <div *ngIf="tab?.QuestionsList?.length > 0" class="reqlabel">Questions Related to this Requirement:
                </div>

                <div>
                    <div *ngFor="let relatedQ of tab?.QuestionsList" [innerHTML]="relatedQ.QuestionText | linebreak" class="related-question-1"></div>
                </div>


            </div>
            <div *ngIf="extras !== null && mode == 'DETAIL' && checkForApproach(tab?.RequirementsData?.ExaminationApproach)"
                class="supplemental" [innerHTML]="tab?.RequirementsData?.ExaminationApproach | linebreak">
            </div>
            <div *ngIf="extras !== null && mode == 'SUPP'" class="supplemental">
                <div
                    [innerHTML]="tab?.RequirementsData?.SupplementalInfo ? (tab?.RequirementsData?.SupplementalInfo | safe) : ''">
                </div>
                <hr
                    *ngIf="tab?.RequirementsData?.SupplementalInfo !== null && tab?.RequirementsData?.ExaminationApproach !== null">
                <div
                    [innerHTML]="tab?.RequirementsData?.ExaminationApproach ? (tab?.RequirementsData?.ExaminationApproach | safe) : ''">
                </div>
            </div>
        </ng-template>
        <div *ngIf="extras !== null && mode === 'CMNT'">
            <div class="form-group">
                <textarea autosize [(ngModel)]="myQuestion.Comment" (change)="saveComment($event)"
                    style="min-height: 72px; width: 100%" maxlength="2048" class="form-control"></textarea>
            </div>
        </div>

        <div *ngIf="extras !== null && mode === 'FDBK'">
            <div class="form-group">
                <textarea appAutoSize [(ngModel)]="myQuestion.Feedback" (change)="saveFeedback($event)" maxlength="2048"
                    style="min-height: 72px; width: 100%" class="form-control"></textarea>
            </div>
        </div>

        <div *ngIf="extras !== null && mode === 'DOCS'">
            <table class="reference-table">
                <tr>
                    <th>Document Title</th>
                    <th>File Name</th>
                    <th></th>
                </tr>
                <tr *ngFor="let doc of extras?.Documents" style="box-sizing: content-box;height:20px;">
                    <td style="height:20px">
                        <div>
                            <label *ngIf="!doc.isEdit" (click)="startEdit(doc)" from="name">{{doc.Title}}</label>
                            <input *ngIf="doc.isEdit" focusOnInit="true" (keydown.enter)="renameDocument(doc)"
                                (blur)="renameDocument(doc)" (keydown.esc)="abandonEdit(doc)" type="text"
                                maxlength="250" id="document_title" style="width: 100%;" [(ngModel)]="doc.Title">
                        </div>
                    </td>
                    <td style="height:20px">
                        <div>{{doc.FileName}}</div>
                    </td>
                    <td>
                        <span class="text-nowrap">
                            <button (click)="showRelatedQuestions(doc)" class="cset2-icons-q" style="color: #285464; transform: scale(1.3); 
                                    vertical-align: top; cursor: pointer; background-color:transparent; 
                                    border: none; outline:none; position: relative; top: -2px;"></button>

                            <svg (click)="deleteDocument(doc)" class="delete_trashcan_icon"
                                xmlns="http://www.w3.org/2000/svg"
                                style="height: 36px; width: 36px; position: relative; top: -10px;">
                                <path
                                    d="M25.39,1.892L17.679,1.892 17.679,1.702C17.679,0.762,16.902,0,15.943,0L11.058,0C10.099,0,9.321,0.762,9.321,1.702L9.321,1.892 1.61,1.892C0.691,1.892,0,2.701,0,3.603L0,5.675 27,5.675 27,3.603C27,2.701,26.309,1.892,25.39,1.892 M21.857,10.405L17.679,10.405 17.679,31.531 21.857,31.531z M15.429,10.405L11.25,10.405 11.25,31.531 15.429,31.531z M9,10.405L4.821,10.405 4.821,31.531 9,31.531z M25.705,7.568L24.429,33.297C24.429,34.237,23.652,35,22.693,35L4.308,35C3.349,35,2.571,34.237,2.571,33.297L1.296,7.568z" />
                            </svg>

                            <button (click)="download(doc)" class="cset-icons-import" style="color: #285464; transform: scale(1.3); 
                                    vertical-align: top; cursor: pointer; background-color:transparent; 
                                    border: none; outline:none; position: relative; top: -2px; left: -5px"
                                matTooltip="Copy this document to another location."></button>
                        </span>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary add" (click)="openFileBrowser($event)">Add a document</button>
            <input type="hidden" [value]="myQuestion.QuestionId">
            <input id="docUpload_q{{ myQuestion.QuestionId }}" type="file" (change)="fileSelect($event)"
                class="display-none">
        </div>

        <div *ngIf="extras !== null && mode === 'REFS'">
            <table class="reference-table" *ngIf="tab != null">
                <tr *ngIf="tab?.SourceDocumentsList?.length > 0" class="font-weight-bold">
                    <td>Source Documents</td>
                    <td>Section</td>
                </tr>
                <tr *ngFor="let reference of tab?.SourceDocumentsList">
                    <td><a href="{{documentUrl(reference)}}" rel="noopener noreferrer"
                            target="_blank">{{reference.Title}}</a></td>
                    <td>{{reference.Section_Ref}}</td>
                </tr>
                <tr *ngIf="tab?.ResourceDocumentList?.length > 0" class="font-weight-bold">
                    <td>Help Documents</td>
                    <td>Section</td>
                </tr>
                <tr *ngFor="let reference of tab?.ResourceDocumentList">
                    <td><a href="{{documentUrl(reference)}}" rel="noopener noreferrer"
                            target="_blank">{{reference.Title}}</a></td>
                    <td>{{reference.Section_Ref}}</td>
                </tr>
                <tr *ngIf="tab?.SourceDocumentsList.length === 0 && tab?.ResourceDocumentList.length === 0">
                    <td colspan="2">(no reference documents available)</td>
                </tr>
            </table>
        </div>

        <div *ngIf="extras !== null && mode === 'DISC'">
            <table class="table" *ngIf="tab != null && extras?.Findings.length > 0">
                <tr>
                    <th>Observation Title</th>
                    <th>Importance</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
                <tr *ngFor="let find of extras?.Findings" style="box-sizing: content-box;height:20px;">
                    <td style="height:20px">
                        <div>{{find.Summary}}</div>
                    </td>
                    <td>
                        <div>{{find.Importance?.Value}}</div>
                    </td>
                    <td>
                        <button class="icon-button fs-base cursor-pointer" (click)="addEditDiscovery(find.Finding_Id)">
                            <span class="mr-1 cset-icons-pencil"></span>
                        </button>
                    </td>
                    <td>
                        <button class="icon-button fs-base cursor-pointer" (click)="deleteDiscovery(find)">
                            <span class="mr-1 cset-icons-trash-can"></span>
                        </button>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary add" (click)="addEditDiscovery(0)">Add an Observation</button>
        </div>
    </div>
</div>