<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="white-panel p-0 m-0 d-flex flex-column flex-11a oy-auto h-0 w-100">
  <h3 class="mt-4 mx-4 mb-0">Security Assurance Level (SAL)</h3>
  <div class="m-4 mr-0 pr-4 d-flex flex-column flex-00a">
    <div class="d-flex flex-column flex-00a">
      The Security Assurance Level or SAL determines the number of questions you will need to answer and level of
      rigor of the assessment. For example, a typical high SAL will contain 350-1000 questions where a low SAL will
      typically contain 30-350 questions, depending on the selected standard.
    </div>

    <span class="mt-3 mb-1 fw-600">Current Security Assurance Level</span>
    <div class="d-flex flex-wrap flex-00a sticky-sal">
      <div class="d-flex flex-11a">
        <div class="mb-2 p-2 quick-info-container d-flex justify-content-center flex-column flex-11a">
          <div class="ws-no-wrap d-flex justify-content-center align-items-center flex-11a">Overall</div>
          <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center align-items-center flex-11a">{{
            this.salsSvc.SelectedSAL.Selected_Sal_Level }}</div>
        </div>
      </div>
      <div class="d-flex flex-nowrap justify-content-center flex-11a mb-2" *ngIf="SelectedSal != 'GENERAL'">
        <div class="ml-2 p-2 quick-info-container d-flex justify-content-center flex-column flex-11a">
          <div class="ws-no-wrap d-flex justify-content-center align-items-center flex-11a">Confidentiality</div>
          <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">{{
            this.salsSvc.SelectedSAL.CLevel }}</div>
        </div>

        <div class="ml-2 p-2 quick-info-container d-flex flex-column justify-content-center flex-11a">
          <div class="ws-no-wrap d-flex justify-content-center align-items-center">Integrity</div>
          <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">{{
            this.salsSvc.SelectedSAL.ILevel }}</div>
        </div>

        <div class="ml-2 p-2 quick-info-container d-flex flex-column justify-content-center flex-11a">
          <div class="ws-no-wrap d-flex justify-content-center align-items-center">Availability</div>
          <div class="p-2 quick-info-stats-container mt-1 d-flex justify-content-center flex-11a">{{
            this.salsSvc.SelectedSAL.ALevel }}</div>
        </div>
      </div>
    </div>

    <div class="mt-2 d-flex flex-column flex-00a">
      Choose one of the three SAL methodologies below to determine the correct level for your assessment.
    </div>
    <div class="btn-group-toggle mt-3" data-toggle="buttons">
      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="SelectedSal === 'Simple'" (click)="changeState('Simple')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector" [checked]="SelectedSal === 'Simple'">Simple
      </label>

      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="SelectedSal === 'GENERAL'" (click)="changeState('GENERAL')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector" [checked]="SelectedSal === 'GENERAL'">General
        Risk Based
      </label>

      <label class="btn btn-sal-select btn-rounded form-check-label" [class.active]="SelectedSal === 'NIST'" (click)="changeState('NIST')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_type_selector" [checked]="SelectedSal === 'NIST'">NIST-60
        / FIPS-199
      </label>
    </div>
    <hr class="w-100 hr-sal mt-1" />

    <div class="mt-0 mr-0 d-flex flex-column justify-content-start flex-11a">
      <div [ngSwitch]="SelectedSal" class="d-flex flex-column justify-content-start flex-00a">
        <app-sal-simple *ngSwitchCase="'Simple'"></app-sal-simple>
        <app-sal-gen *ngSwitchCase="'GENERAL'"></app-sal-gen>
        <app-sal-nist *ngSwitchCase="'NIST'"></app-sal-nist>
      </div>
    </div>

    <div class="d-flex justify-content-between flex-00a mb-2r">
      <button class="btn btn-primary" (click)="navSvc2.navBack('sal')">Back</button>
      <button class="btn btn-primary" (click)="navSvc2.navNext('sal')">Next</button>
    </div>
  </div>
</div>
