<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="report-body">

    <div class="flex-container">
        <div class="column">
            <p
                style="margin-left: 25px; text-align: center; font-family: Verdana; font-size: 40px; letter-spacing: 36px; Color: #0f3c7a;">
                SITE CYBERSECURITY PLAN
            </p>
        </div>
        <div class="column">
            <p style="text-align: center">
                <img width="471" height="529" src="../../../../assets/images/SecurityPlanFiles/image002.jpg">
            </p>
        </div>

        <div class="cover-page-bottom mb-4">
            <div>
                <img style="width: 283px; height: 133px" src="../../../../assets/images/SecurityPlanFiles/image003.jpg">
            </div>
            <div style="flex-direction: column; line-height: 150%; padding-right: 2em">
                <div>{{response?.information.Assessment_Name}}</div>
                <div>
                    {{response?.information.Assessment_Date | date:'dd-MMM-yyyy'}}
                </div>
                <div>
                    {{response?.information.Assessor_Name}}
                </div>
            </div>
        </div>
    </div>



    <div class="page-break">
        <h1>Disclaimer</h1>
        <p>
            The analysis, data, and reports in CSET
            <sup>®</sup> are provided “as is” for informational purposes only. The Department of Homeland Security (DHS)
            does
            not provide any warranties of any kind regarding any information contained within. In no event shall the
            United
            States Government or its contractors or subcontractors be liable for any damages, including but not limited
            to,
            direct, indirect, special, or consequential damages and including damages based on any negligence of the
            United
            States Government or its contractors or subcontractors, arising out of, resulting from, or in any way
            connected
            with this report, whether based on warranty, contract, tort, or otherwise, whether injury was sustained
            from,
            or arose out of the results of, or reliance upon the report.
        </p>

        <p>
            DHS does not endorse any commercial product or service, including the subject of the assessment or
            evaluation in this report.
            Any reference to specific commercial products, processes, or services by trademark, manufacturer, or
            otherwise,
            does not constitute or imply its endorsement, recommendation, or favoring by DHS.
        </p>

        <p>
            The display of the DHS official seal or other DHS visual identities on this report shall not be interpreted
            to provide the
            recipient organization authorization to use the official seal, insignia, or other visual identities of DHS.
            The
            DHS seal, insignia, or other visual identities shall not be used in any manner to imply endorsement of any
            commercial
            product or activity by DHS or the United States Government. Use of the DHS seal without proper authorization
            violates federal law (e.g., 18 U.S.C. §§ 506, 701, 1017), and is against DHS policies governing usage of the
            seal.
        </p>

        <p>
            The report is prepared and intended for internal use by the organization that made the request. The contents
            of this report
            may be subject to government or private intellectual property rights. To request distribution of this report
            outside the organization for which it was prepared, contact the CSET Program Office. The contents of this
            report
            may be reproduced or incorporated into other reports, but may not be modified without the prior express
            written
            permission of the CSET Program Office.
        </p>
    </div>



    <div class="page-break">
        <h1>Signatures</h1>

        <p>My signature indicates that I have reviewed and approve this Site Cyber Security Plan and the corresponding
            appendices.
            To the best of my knowledge, they accurately describe the security profile of the Untitled Assessment 21
            security
            policies and procedures, including the operational, management, and technical controls under which they will
            be operated.
        </p>

        <p>
            <b>
                <i>
                    (Example only. Copy and replace the text in this signature block for each applicable position.)
                </i>
            </b>
        </p>

        <div style="margin-bottom: 100px">
            <div class="signature-block">
                <span class="signature">Sample Corporate Officer, CEO John Doe</span>
                <span class="date">Date</span>
            </div>
        </div>
    </div>



    <div class="page-break">
        <h1>
            Introduction
        </h1>

        <p class="intro">
            Template instructions and directives are given in italicized 10 point font and should be replaced
            appropriately.
        </p>

        <p class="intro">This security plan template is intended to be used as a tool for the development of a security
            plan. This template
            will assist you in identifying the controls in place and those needing further implementation based upon the
            answers provided in the accompanying Cybersecurity Evaluation Tool (CSET) assessment. The basic process for
            this
            plan development would be to first determine risk, second select the countermeasures necessary to mitigate
            the
            risk to an acceptable level, and finally follow through to ensure that the countermeasures are implemented
            to
            the expected level.</p>

        <p class="intro">
            The purpose of the security plan is to provide an overview of the security requirements of the system and
            describe the controls
            in place or planned, for meeting those requirements. The site cyber security plan also delineates
            responsibilities
            and expected behavior of all individuals who access the system. The security plan should be viewed as
            documentation
            of the structured process of planning adequate, cost effective security protection for a system. It should
            reflect
            input from various managers with responsibilities concerning the system, including information owners, the
            system
            operator, and the system security manager. Additional information may be included in the basic plan and the
            structure
            and format organized according to agency needs, so long as the major sections described in this document are
            adequately covered and readily identifiable.
        </p>

        <p class="intro">
            The System Owner is responsible for ensuring that the security plan is prepared and for implementing the
            plan and monitoring
            its effectiveness. Security plans should reflect input from various individuals with responsibilities
            concerning
            the system, including functional “end users,” Information Owners, the System Administrator, and the System
            Security
            Manager
        </p>

        <p class="intro">
            This template may also include:
        </p>

        <ul class="intro">
            <li>Recommended templates for policies or procedures that have been identified as needed but not currently
                available
                based on the assessment answers.</li>
            <li>
                The basic network diagram
            </li>
            <li>
                An Inventory List of the components included in the diagram that will be associated with specific
                controls.
            </li>
            <li>
                The List of recommended security controls along with a status as can be determined from the assessment
                questions.
            </li>
            <li>
                A recommended implementation priorities list. This priority is based on incident occurrences on the
                Industrial Control System
                Cyber Emergency Response Team (ICS-CERT) watch floor and cybersecurity expert opinion. These
                recommendations
                do not take into account any cost benefit analysis with respect to implementing a control.
            </li>
            <li>
                Basic security assurance level determinations carried over from the assessment. In developing a security
                plan it is recommended
                that a deeper risk analysis is conducted to ensure that the selection of controls is not overly
                conservative
                (incurring undo costs) or optimistic (leaving excessive risk exposure).
            </li>
        </ul>
    </div>



    <div class="page-break">
        <h1>
            1. System Identification
        </h1>

        <p class="intro">
            Provide a brief (1-2 paragraphs) description of the main system assests and the necessary protection levels
            for confidentiality,
            integrity, and availability.   See section 3.1 for a more detailed description of confidentiality,
            integrity,
            and availability.
        </p>

        <h2>
            1.1. System Environment
        </h2>

        <p class="intro">
            Provide a brief (1-3 paragraphs) general description of the technical system. Include any environmental or
            technical factors
            that raise special security concerns, such as:
        </p>
        <ul class="intro">
            <li>The system is connected to the Internet;</li>
            <li>It is located in a harsh or overseas environment;</li>
            <li>Software is rapidly implemented;</li>
            <li>The software resides on an open network used by the general public or with overseas access;</li>
            <li>The application is processed at a facility outside of the organization's control; or</li>
            <li>The general support mainframe has dial-up lines.</li>
        </ul>

        <p class="intro">
            Describe the primary computing platform(s) used (e.g., mainframe, desk top, LAN or Wide Area Network (WAN).
            Include a general
            description of the principal system components, including hardware, software, and communications resources.
            Discuss
            the type of communications included (e.g., dedicated circuits, dial circuits, public data/voice networks,
            Internet).
            Describe controls used to protect communication lines in the appropriate sections of the security plan.
        </p>

        <p class="intro">
            Include any security software protecting the system and information. Describe in general terms the type of
            security protection
            provided (e.g., access control to the computing platform and stored files at the operating system level or
            access
            to data records within an application). Include only controls that have been implemented or planned, rather
            than
            listing the controls that are available in the software. Controls that are available, but not implemented,
            provide
            no protection.
        </p>
    </div>



    <!--Network Diagram-->
    <div class="page-break" *ngIf="componentCount > 0">
        <h1>Network Diagram</h1>
        <div style="display: table; height: 8in">
            <div style="padding: 50% 0; height: 0">
                <div style="width: 8in; display: block; transform-origin: top left; transform: rotate(90deg) translate(0, -100%); margin-top: -50%"
                    [innerHTML]="networkDiagramImage">
                </div>
            </div>
        </div>
    </div>


    <div class="page-break">
        <h1>
            2. Roles and Responsibilities
        </h1>

        <p class="intro">This section defines the roles and responsibilities for cybersecurity within the company.  Use
            this section to define
            the roles and responsibilities with respect to this plan for your company.
        </p>

        <h2 id="goto">
            2.1. Executive Management
        </h2>

        <p>
            Often this role is comprised of the Board of Directors and CEO.  Executive management is ultimately
            responsible for the security
            of the organization but will most likely delegate tasks and actual implementation.
        </p>

        <h2>
            <span style='font-family:"Arial",sans-serif'>2.2.
                <span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp; </span>
            </span>
            <span style='font-family:"Arial",sans-serif'>Chief Security Officer or Chief Information Security Officer
                (CISO)</span>
        </h2>

        <p>
            CSO or CISO is the senior level executive within an organization responsible for establishing and
            maintaining the enterprise
            vision, strategy and program to ensure information assets are adequately protected. The CISO directs staff
            in
            identifying, developing, implementing and maintaining processes across the organization to reduce
            information
            and information technology (IT) risks, respond to incidents, establish appropriate standards and controls,
            and
            direct the establishment and implementation of policies and procedures. The CISO is also usually responsible
            for information related compliance.
        </p>

        <p>
            Typically, the CISO's influence reaches the whole organization. Responsibilities include:
        </p>

        <ul>
            <li>Information security and information assurance</li>
            <li>Information regulatory compliance (e.g., US PCI DSS, FISMA, GLBA, HIPAA; UK Data Protection Act 1998;
                Canada
                PIPEDA)
            </li>
            <li>Information risk management</li>
            <li>Supply chain risk management</li>
            <li>Cybersecurity</li>
            <li>Information technology controls for financial and other systems</li>
            <li>Information privacy</li>
            <li>Computer Emergency Response Team / Computer Security Incident Response Team</li>
            <li>Identity and access management</li>
            <li>Security Architecture (e.g. Sherwood Applied Business Security Architecture)</li>
            <li>IT investigations, digital forensics, eDiscovery</li>
            <li>Disaster recovery and business continuity management</li>
            <li>Information Security Operations Center (ISOC)</li>
        </ul>


        <h2>
            2.3. Security Steering Committee
        </h2>

        <p>
            The security steering committee is composed of a representative of all the key stakeholders in IT security.
            These stake holders
            are often representatives of the executive council, CISO or CSO, IT management, physical security personnel,
            help desk, and key application and digitial asset owners.   This committee meets regularly often quarterly
            to
            review policies and procedures, security controls implementation progress, and determine future direction
            for
            security within a company.
        </p>

        <p>
            The security steering committee is responsible for making decisions on tactical and strategic security
            issues within the
            enterprise as a whole and should not be tied to one or more business units. The group should be made up of
            people
            from all over the organization so they can view risks and the effects of security decisions on individual
            departments
            and the organization as a whole. The CEO should head this committee, and the CFO, CIO, department managers,
            and
            chief internal auditor should all be on it. This committee should meet at least quarterly and have a well
            defined
            agenda. Some of the group’s responsibilities are listed next:
        </p>

        <ul>
            <li>Define the acceptable risk level for the organization.</li>
            <li>Develop security objectives and strategies.</li>
            <li>Determine priorities of security initiatives based on business needs.</li>
            <li>Review risk assessment and auditing reports.</li>
            <li>Monitor the business impact of security risks.</li>
            <li>Review major security breaches and incidents.</li>
            <li>Approve any major change to the security policy and program.</li>
        </ul>




        <p>
            They should also have a clearly defined vision statement in place that is set up to work with and support
            the organizational
            intent of the business. The statement shouldbe structured in a manner that provides support for the goals of
            confidentiality, integrity, and availability as they pertain to the business objectives of the organization.
            This in turn should be followed, or supported, by a mission statement that provides support and definition
            to
            the processes that will apply to the organization and allow it to reach its business goals.
        </p>

        <h2>
            2.4. System Owners
        </h2>

        <p>
            The system owner is responsible for one or more systems, each of which may hold and process data owned by
            different data
            owners. A system owner is responsible for integrating security considerations into application and system
            purchasing
            decisions and development projects. The system owner is responsible for ensuring that adequate security is
            being
            provided by the necessary controls, password management, remote access controls, operating system
            configurations,
            and so on. This role must ensure the systems are properly assessed for vulnerabilities and must report any
            to
            the incident response team and data owner.
        </p>

        <h2>
            2.5. Data Owners
        </h2>

        <p>
            The data owner (information owner) is usually a member of management who is incharge of a specific business
            unit, and who
            is ultimately responsible for the protection and use of a specific subset of information. The data owner has
            due care responsibilities and thus will be held responsible for any negligent act that results in the
            corruption
            or disclosure of the data. The data owner decides upon the classification of the data he is responsible for
            and
            alters that classification if the business need arises. This person is also responsible for ensuring that
            the
            necessary security controls are in place, defining security requirements per classification and backup
            requirements,
            approving any disclosure activities, ensuring that proper access rights are being used, and defining user
            access
            criteria. The data owner approves access requests or may choose to delegate this function to business unit
            managers.
            And it is the data owner who will deal with security violations pertaining to the data he is responsible for
            protecting. The data owner, who obviously has enough on his plate, delegates responsibility of the
            day-to-day
            maintenance of the data protection mechanisms to the data custodian.
        </p>

        <h2>
            2.6. Security Administrators
        </h2>

        <p>
            Anyone who has a root account on Unix or Linux systems or an administrator account on Windows or Macintosh
            systems actually
            has security administrator rights. (Unfortunately, too many people have these accounts in most
            environments.)
            This means they can give and take away permissions and set security configurations.  However, just because a
            person has a root or administrator account does not mean they are fulfilling the security administrator
            role.
            A security administrator’s tasks are many, and include creating new system user accounts, implementing new
            security
            software, testing security patches and components, and issuing new passwords. The security administrator
            should
            not actually approve new system user accounts. This is the responsibility of the supervisor.  The security
            administrator
            must make sure access rights given to users support the policies and data owner directives.
        </p>

        <h2>
            2.7. Supervisors/Managers
        </h2>

        <p>
            The supervisor role, also called user manager, is ultimately responsible for all user activity and any
            assets created and
            owned by these users. The supervisor responsibilities would include ensuring that employees understand their
            responsibilities with respect to security, distributing initial passwords, making sure the employees’
            account
            information is up-to-date, and informing the security administrator when an employee is fired, suspended, or
            transferred.  Any change that pertains to an employee’s role within the company usually affects what access
            rights
            they should and should not have, so the user manager must inform the security administrator of these changes
            immediately.
        </p>

        <h2>
            2.8. Users
        </h2>

        <p>
            The user is any individual who routinely uses the data for work related tasks. The user must have the
            necessary level of
            access to the data to perform the duties within their position and is responsible for following operational
            security
            procedures to ensure the data’s confidentiality, integrity, and availability to others.
        </p>
    </div>


    <div class="page-break">
        <h1>
            3. Risk Analysis
        </h1>

        <p class="intro">A good security plan will require that a risk evaluation is performed to determine the level of
            necessary rigor and
            cost benefit analysis for the level of controls selected. It is recommended that a general risk analysis be
            performed.
            A good risk assessment should include an evaluation of the value of the protected assets and information, an
            examination of the consequences to the organization in the event of a successful attack, an examination of
            the
            threat if possible, and the cost of implementing mitigating controls.
        </p>

        <p class="intro">threats × vulnerability × asset value = total risk
        </p>

        <p class="intro">total risk – countermeasures = residual risk
        </p>


        <h4>Consequence</h4>
        <p class="intro">The examination of the consequences of an attack should include:
        </p>
        <ul class="intro">
            <li>How many people could sustain injuries requiring a hospital stay?</li>
            <li>How many people could be killed?</li>
            <li>Estimate the potential cost of losing capital assets or the overall economic impact. (Consider the cost
                of site
                buildings, facilities, equipment, etc.)</li>
            <li>Estimate the potential cost in terms of economic impact to both the site and surrounding communities.
                (Consider
                any losses to community structures and any costs associated with displacement.)</li>
            <li>Estimate the potential cost of environmental cleanup to the site and surrounding communities. (Consider
                the cost
                for cleanup, fines, litigation, long term monitoring, etc.)</li>
        </ul>

        <h4>Threat</h4>
        <p class="intro">The threat portion of the equation can be deduced from the recommended implementation
            priorities list. The priorities
            are based on incident data collected by the ICS-CERT watch floor and subject matter experts as of the time
            of
            publication of CSET. Top priorities are controls that mitigate the most actively exploited vulnerabilities
            with
            the most significant consequences.
        </p>

        <h4>Cost Benefit Analysis</h4>
        <p class="intro">The cost of implementing controls with respect to the additional security provided is the final
            step in selecting
            the controls to implement.
        </p>


        <h2>
            3.1 Basic Model
        </h2>

        <p>
            Traditional security models define three areas of consideration Confidentiality, Integrity, and
            Availability. The security
            plan should address each of these areas with respect to data and systems.
        </p>

        <h3>
            3.1.1 Confidentiality
        </h3>

        <p>Confidentiality refers to preventing the disclosure of information to unauthorized individuals or systems.
            For example,
            a credit card transaction on the Internet requires the credit card number to be transmitted from the buyer
            to
            the merchant and from the merchant to a transaction processing network. The system attempts to enforce
            confidentiality
            by encrypting the card number during transmission, by limiting the places where it might appear (in
            databases,
            log files, backups, printed receipts, and so on), and by restricting access to the places where it is
            stored.
            If an unauthorized party obtains the card number in any way, a breach of confidentiality has occurred.

        </p>

        <p>Confidentiality is necessary for maintaining the privacy of the people whose personal information a system
            holds.
        </p>

        <h3>
            3.1.2 Integrity
        </h3>

        <p>In information security, data integrity means maintaining and assuring the accuracy and consistency of data
            over
            its entire life cycle.  This means that data cannot be modified in an unauthorized or undetected manner.
            This
            is not the same thing as referential integrity in databases, although it can be viewed as a special case of
            Consistency
            as understood in the classic ACID (Atomicity, Consistency, Isolation, Durability) model of transaction
            processing.
            Integrity is violated when a message is actively modified in transit. Information security systems typically
            provide message integrity in addition to data confidentiality.
        </p>

        <h3>
            3.1.3 Availability
        </h3>

        <p>For any information system to serve its purpose, the information must be available when it is needed. This
            means
            that the computing systems used to store and process the information, the security controls used to protect
            it,
            and the communication channels used to access it must be functioning correctly. High availability systems
            aim
            to remain available at all times, preventing service disruptions due to power outages, hardware failures,
            and
            system upgrades. Ensuring availability also involves preventing denial-of-service attacks.
        </p>


        <h2>
            3.2 Security Assurance Level (SAL)
        </h2>

        <div class="sal-display {{analysisSvc.salColor(response?.salTable.OSV)}}" style="margin: 0 1em 1em 1em;">
            <div class="sal-label">CALCULATED LEVEL</div>
            <div class="sal-value">
                {{response?.salTable.OSV}}
            </div>
        </div>

        <table class="cset-table" *ngIf="response?.salTable.LastSalDeterminationType !== 'GENERAL'">
            <tr>
                <th style="width: 25%"></th>
                <th style="width: 25%">Confidentiality</th>
                <th style="width: 25%">Integrity</th>
                <th style="width: 25%">Availability</th>
            </tr>
            <tr>
                <td>Overall Values</td>
                <td>{{response?.salTable.Q_CV}}</td>
                <td>{{response?.salTable.Q_IV}}</td>
                <td>{{response?.salTable.Q_AV}}</td>
            </tr>
        </table>


        <div *ngIf="response?.salTable.LastSalDeterminationType === 'GENERAL'">
            <p>
                <b>Calculated General Security Assurance Levels (SAL)</b>
            </p>

            <table class="cset-table" style="table-layout: fixed">
                <tr>
                    <th style="width: 33%"></th>
                    <th style="width: 33%">Onsite</th>
                    <th style="width: 33%">Offsite</th>
                </tr>
                <tr>
                    <td>Physical Injury</td>
                    <td>{{response?.genSalTable.On_Site_Physical_Injury}}</td>
                    <td>{{response?.genSalTable.Off_Site_Physical_Injury}}</td>
                </tr>
                <tr>
                    <td>Hospital Injury</td>
                    <td>{{response?.genSalTable.On_Site_Hospital_Injury}}</td>
                    <td>{{response?.genSalTable.Off_Site_Hospital_Injury}}</td>
                </tr>
                <tr>
                    <td>Death</td>
                    <td>{{response?.genSalTable.On_Site_Death}}</td>
                    <td>{{response?.genSalTable.Off_Site_Death}}</td>
                </tr>
                <tr>
                    <td>Capital Assets</td>
                    <td>{{response?.genSalTable.On_Site_Capital_Assets}}</td>
                    <td>{{response?.genSalTable.Off_Site_Capital_Assets}}</td>
                </tr>
                <tr>
                    <td>Economic Impact</td>
                    <td>{{response?.genSalTable.On_Site_Economic_Impact}}</td>
                    <td>{{response?.genSalTable.Off_Site_Economic_Impact}}</td>
                </tr>
                <tr>
                    <td>Environmental Impact</td>
                    <td>{{response?.genSalTable.On_Site_Environmental_Cleanup}}</td>
                    <td>{{response?.genSalTable.Off_Site_Environmental_Cleanup}}</td>
                </tr>
            </table>
        </div>


        <div *ngIf="response?.salTable.LastSalDeterminationType === 'NIST'">
            <h2>
                3.3 FIPS 199 Security Assurance Level Guidance
            </h2>

            <p>
                <b>NIST SP800-60 (FIPS 199) Based Security Assurance Levels with CNSS Special Factors</b>
            </p>

            <table class="cset-table">
                <tr>
                    <th></th>
                    <th>Confidentiality</th>
                    <th>Integrity</th>
                    <th>Availability</th>
                </tr>
                <tr>
                    <td>Adjusted For System Questions</td>
                    <td>{{response?.nistSalTable?.Q_CV}}</td>
                    <td>{{response?.nistSalTable?.Q_IV}}</td>
                    <td>{{response?.nistSalTable?.Q_AV}}</td>
                </tr>
                <tr>
                    <td>Information Type</td>
                    <td>{{response?.nistSalTable?.IT_CV}}</td>
                    <td>{{response?.nistSalTable?.IT_IV}}</td>
                    <td>{{response?.nistSalTable?.IT_AV}}</td>
                </tr>
            </table>


            <table class="cset-table">
                <tr>
                    <th>Type</th>
                    <th>Special Factors</th>
                </tr>
                <tr>
                    <td>Confidentiality</td>
                    <td>{{nistSalC}}</td>
                </tr>
                <tr>
                    <td>Integrity</td>
                    <td>{{nistSalI}}</td>
                </tr>
                <tr>
                    <td>Availability</td>
                    <td>{{nistSalA}}</td>
                </tr>
            </table>
        </div>


        <div class="mt-3 mb-4" *ngIf="reportSvc.hasACET">
            <h2>Inherent Risk Profile</h2>
            <table class="cset-table mb-1">
                <tr>
                    <th rowspan="2">Category</th>
                    <th colspan="5" class="text-center">Inherent Risk</th>
                    <th rowspan="2">Risk Level</th>
                </tr>
                <tr>
                    <th class="table-head text-right">1</th>
                    <th class="table-head text-right">2</th>
                    <th class="table-head text-right">3</th>
                    <th class="table-head text-right">4</th>
                    <th class="table-head text-right">5</th>
                </tr>
                <tr *ngFor="let irp of acetDashboard?.IRPs">
                    <td>{{ irp.HeaderText }}</td>
                    <td class="text-right">{{ irp.RiskCount[0] }}</td>
                    <td class="text-right">{{ irp.RiskCount[1] }}</td>
                    <td class="text-right">{{ irp.RiskCount[2] }}</td>
                    <td class="text-right">{{ irp.RiskCount[3] }}</td>
                    <td class="text-right">{{ irp.RiskCount[4] }}</td>
                    <td class="text-nowrap">{{ irp.Comment }}</td>
                </tr>
                <tr>
                    <td class="border-table">Totals</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[0] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[1] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[2] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[3] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[4] }}</td>
                    <td class="border-table"></td>
                </tr>

            </table>
            <div class="ml-3">
                <div>Overall Risk Level is <span class="blue-text font-weight-bold">
                        {{ acetSvc.interpretRiskLevel(acetDashboard?.SumRiskLevel) }}
                    </span>
                </div>
                <div *ngIf="!acetDashboard?.Override || acetDashboard?.Override == '' || acetDashboard?.Override == 0">
                    Overall Risk Level has not been overridden
                </div>
                <div
                    *ngIf="!!acetDashboard?.Override && acetDashboard?.Override != '' && acetDashboard?.Override !== 0">
                    Overall Risk Level has been overriden to <span
                        class="blue-text font-weight-bold">{{ acetSvc.interpretRiskLevel(acetDashboard?.Override) }}</span>
                    <div>Override Reason:
                        <em>
                            {{ acetDashboard?.OverrideReason }}
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="reportSvc.hasACET">
            <h2>Cybersecurity Maturity</h2>
            <table class="cset-table">
                <tr>
                    <th width="50%" class="table-head">Domain</th>
                    <th width="50%" class="table-head">Maturity Level</th>
                </tr>
                <tr *ngFor="let domain of acetDashboard?.Domains; let i = index">
                    <td>Domain {{ i + 1 }}: {{ domain.Name }}</td>
                    <td class="mid-align">
                        <div class="alert mb-0" [ngClass]="acetSvc.maturityClasses(domain.Maturity)">
                            {{ domain.Maturity }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="page-break">
        <h1>
            Diagram Component Inventory
        </h1>
        <div *ngFor="let zoneList of response?.Zones">
            <table class="cset-table">
                <tr>
                    <th>Zone &nbsp;-&nbsp;{{zoneList[0].Zone_Name}}</th>
                    <th>SAL Level&nbsp;-&nbsp;{{zoneList[0].Universal_Sal_Level}}</th>
                </tr>
                <tr *ngFor="let inventoryItem of zoneList">
                    <td>{{inventoryItem.Diagram_Component_Type}}</td>
                    <td>{{inventoryItem.label}}</td>
                </tr>
            </table>
        </div>
    </div>



    <div class="page-break">
        <h1>
            4. Security Plan Controls and Status List
        </h1>

        <p>
            This section lists all the controls which constitute the security plan and implementation status.   To
            enable easier reading
            of the controls list a table key is included at the start of this section. In this section the terms Control
            and Requirement are used interchangeably to indicate the mitigation effort as defined in the given standard.
        </p>

        <p>
            <b>
                Table Key and Field Descriptions:
            </b>
        </p>

        <table class="cset-table-2">
            <tr>
                <td colspan="2">
                    Requirement Title
                </td>
                <td>CSET Question/Requirement Category
                </td>
            </tr>
            <tr class="pale-green">
                <td>
                    Control Level
                </td>
                <td>Implementation Status
                </td>
                <td>Short Standard Name
                </td>
            </tr>
            <tr>
                <td colspan="3">Requirement Description
                </td>
            </tr>
            <tr>
                <td colspan="3">Affected Zones  (Optional, may not be included in the table)
                </td>
            </tr>
            <tr>
                <td colspan="3">Affected Components  (Optional, may not be included in the table)
                </td>
            </tr>
            <tr>
                <td colspan="3">Related Questions and Answers
                </td>
            </tr>
        </table>

        <p>
            <b>Requirement Title:</b>  Is the control title as it is generally defined in the standard document from
            which this
            control is derived
        </p>

        <p>
            <b>
                CSET Question Category:
            </b>
            Shows the CSET question category from the global questions list.  Questions from multiple standards have
            been consolidated
            together in the CSET tool and assigned a common category.
        </p>

        <p>
            <b>
                Control Level:
            </b>
            Mapped to one of Low, Moderate, High, or Very High.  A value of none indicates that the level was not
            defined for the given
            information type in the standard.
        </p>

        <p>
            <b>
                Implementation Status:
            </b>
            Shows the percentage complete as the number of yes and alternate answers / total related questions for this
            control. The
            percentage implemented will not necessarily be reflective of the amount of work required to implement the
            control
            but is merely an indicator of how many of the questions related to the control have been addressed so far.
        </p>

        <p>
            <b>
                Short Standard Name:
            </b>
            An indicator of which standard this control is derived from.
        </p>

        <p>
            <b>
                Control Description:
            </b>
            The full control text as defined in the standard from which the control is derived.

        </p>

        <p>
            <b>
                Affected Zones:
            </b>
            Only applicable to controls derived from a diagram.   If you have included a diagram in your original
            assessment this field
            will contain a list of zone in which atleast one component was found to require this control.

        </p>

        <p>
            <b>
                Affected Components:
            </b>
            This field contains a list of the components that are directly applicable to this control.
        </p>

        <p>
            <b>
                Related Questions and Answers:
            </b>
            A list of the questions and answers from which the implementation status of this control was determined.
        </p>

        <div style="margin-bottom: 3em"></div>


        <div *ngFor="let control of response?.ControlList" style="margin-bottom: 2em;">
            <table class="cset-table-2">
                <tr>
                    <td colspan="2" style="font-weight: bold;">
                        {{control.RequirementTitle}}
                    </td>
                    <td>{{control.Standard_Category}}
                        <span *ngIf="control.SubCategory?.length > 0">
                            / {{control.SubCategory}}
                        </span>
                    </td>
                </tr>
                <tr class="pale-green">
                    <td style="width: 20%">
                        {{analysisSvc.salWord(control.Level)}}
                    </td>
                    <td style="width: 20%">
                        {{control.ImplementationStatus}}
                        <span *ngIf="control.ImplementationStatus != null 
                    && control.ImplementationStatus.length > 0">%</span>
                    </td>
                    <td style="width: 60%">
                        {{control.StandardShortName}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" [innerHTML]="control.ControlDescription">
                    </td>
                </tr>
                <tr *ngIf="control.AffectedZones">
                    <td colspan="3">{{control.AffectedZones}}
                    </td>
                </tr>
                <tr *ngIf="control.AffectedComponents">
                    <td colspan="3">{{control.AffectedComponents}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table class="related-questions">
                            <tr *ngFor="let q of control.Control_Questions">
                                <td>{{q.Simple_Question}}</td>
                                <td style="width: 10%; text-align: center;">{{q.Answer}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>