<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="report-body">

    <div class="flex-container">
        <div class="column">
            <p
                style="margin-left: 25px; text-align: center; font-family: Verdana; font-size: 40px; letter-spacing: 36px; Color: #0f3c7a;">
                SITE DETAIL REPORT
            </p>
        </div>
        <div class="column">
            <p style="text-align:center;">
                <img width="471" height="529" src="../../../../assets/images/DetailFiles/image002.jpg">
            </p>
        </div>

        <div class="cover-page-bottom">
            <div>
                <img style="width: 283px; height: 133px" src="../../../../assets/images/TearOutFiles/image003.jpg">
            </div>
            <div style="flex-direction: column; line-height: 150%; padding-right: 2em">
                <div>{{response?.information.Assessment_Name}}</div>
                <div>
                    {{response?.information.Assessment_Date | date:'dd-MMM-yyyy'}}
                </div>
                <div>
                    {{response?.information.Assessor_Name}}
                </div>
            </div>
        </div>
    </div>


    <div class="page-break">
        <h1>Disclaimer</h1>

        <p>The analysis, data, and reports in CSET
            <sup>®</sup> are provided “as is” for informational purposes only. The Department of Homeland Security (DHS)
            does
            not provide any warranties of any kind regarding any information contained within. In no event shall the
            United
            States Government or its contractors or subcontractors be liable for any damages, including but not limited
            to,
            direct, indirect, special, or consequential damages and including damages based on any negligence of the
            United
            States Government or its contractors or subcontractors, arising out of, resulting from, or in any way
            connected
            with this report, whether based on warranty, contract, tort, or otherwise, whether injury was sustained
            from,
            or arose out of the results of, or reliance upon the report.
        </p>

        <p>DHS does not endorse any commercial product or service, including the subject of the assessment or evaluation
            in
            this report. Any reference to specific commercial products, processes, or services by trademark,
            manufacturer,
            or otherwise, does not constitute or imply its endorsement, recommendation, or favoring by DHS.
        </p>

        <p>The display of the DHS official seal or other DHS visual identities on this report shall not be interpreted
            to provide
            the recipient organization authorization to use the official seal, insignia, or other visual identities of
            DHS.
            The DHS seal, insignia, or other visual identities shall not be used in any manner to imply endorsement of
            any
            commercial product or activity by DHS or the United States Government. Use of the DHS seal without proper
            authorization
            violates federal law (e.g., 18 U.S.C. §§ 506, 701, 1017), and is against DHS policies governing usage of the
            seal.
        </p>

        <p>The report is prepared and intended for internal use by the organization that made the request. The contents
            of this
            report may be subject to government or private intellectual property rights. To request distribution of this
            report outside the organization for which it was prepared, contact the CSET Program Office. The contents of
            this
            report may be reproduced or incorporated into other reports, but may not be modified without the prior
            express
            written permission of the CSET Program Office.
        </p>
    </div>


    <div class="page-break">
        <h1>Advisory</h1>

        <p>CSET® is only one component of the overall cybersecurity picture and should be complemented with a robust
            cybersecurity
            program within the organization. A self-assessment with CSET cannot reveal all types of security weaknesses,
            and should not be the sole means of determining an organization’s security posture.
        </p>

        <p>The tool will not provide a detailed architectural analysis of the network or a detailed network
            hardware/software
            configuration review. It is not a risk analysis tool so it will not generate a complex risk assessment. CSET
            is not intended as a substitute for in depth analysis of control system vulnerabilities as performed by
            trained
            professionals. Periodic onsite reviews and inspections must still be conducted using a holistic approach
            including
            facility walk downs, interviews, and observation and examination of facility practices. Consideration should
            also be given to additional steps including scanning, penetration testing, and exercises on surrogate,
            training,
            or non-production systems, or systems where failures, unexpected faults, or other unexpected results will
            not
            compromise production or safety.
        </p>

        <p>
            CSET assessments cannot be completed effectively by any one individual. A cross-functional team consisting
            of representatives
            from operational, maintenance, information technology, business, and security areas is essential. The
            representatives
            must be subject matter experts with significant expertise in their respective areas. No one individual has
            the
            span of responsibility or knowledge to effectively answer all the questions.
        </p>

        <p>Data and reports generated by the tool should be managed securely and marked, stored, and distributed in a
            manner
            appropriate to their sensitivity.
        </p>
    </div>


    <div class="page-break">
        <h1>
            Site Information
        </h1>

        <table class="table-site-info">
            <tr>
                <td>Assessment Name:</td>
                <td>{{response?.information.Assessment_Name}}</td>
            </tr>
            <tr>
                <td>Assessment Date:</td>
                <td>{{response?.information.Assessment_Date | date:'dd-MMM-yyyy'}}</td>
            </tr>
            <tr>
                <td>Facility Name:</td>
                <td>{{response?.information.Facility_Name}}</td>
            </tr>
            <tr>
                <td>City or Site Name:</td>
                <td>{{response?.information.City_Or_Site_Name}}</td>
            </tr>
            <tr>
                <td>State, Province or Region:</td>
                <td>{{response?.information.State_Province_Or_Region}}</td>
            </tr>
            <tr>
                <td>Principal Assessor Name:</td>
                <td>{{response?.information.Assessor_Name}}</td>
            </tr>
            <!-- <tr>
                <td>Assessor Telephone:</td>
                <td>{{response?.information.Assessor_Phone}}</td>
            </tr> -->
            <tr>
                <td>Additional Notes and Comments:</td>
                <td [innerHTML]="reportSvc.formatLinebreaks(response?.information.Additional_Notes_And_Comments)"></td>
            </tr>
            <tr>
                <td>Contact(s):</td>
                <td>
                    <div *ngFor="let c of response?.information.Additional_Contacts">
                        {{c}}
                    </div>
                </td>
            </tr>
            <!-- <tr>
                <td>Real Property Site Unique ID (RPSUID):</td>
                <td>{{response?.information.Real_Property_Unique_Id}}</td>
            </tr> -->
        </table>
    </div>


    <div class="page-break">
        <div class="cset-container" style="width: 500px; margin: 3rem auto 2em auto; display: block;">
            <div>SUMMARY PERCENT COMPLIANCE</div>
            <div>
                <canvas id="canvasCompliance"></canvas>
            </div>
        </div>

        <h1>High Level Assessment Description</h1>
        <p [innerHTML]="reportSvc.formatLinebreaks(response?.information.Assessment_Description)">
        </p>

        <h1>Executive Summary</h1>
        <p [innerHTML]="reportSvc.formatLinebreaks(response?.information?.Executive_Summary)">
        </p>
    </div>


    <div class="page-break">
        <h1>
            Evaluation Against Selected Standards and Question Sets
        </h1>

        <div style="max-width: calc(100% - 4em); margin: 0 auto">
            <div style="display: flex; flex-direction: row; align-items: flex-end;">
                <div>
                    <div
                        style="text-align: center; border: 2px solid #000; border-top-left-radius: 1.2em; border-top-right-radius: 1.2em; background-color: #0A5278; padding: 1em; color: #fff; box-shadow: 5px 0px 5px #0004;">
                        STANDARD OR QUESTION SET
                    </div>
                    <div
                        style="border: 2px solid #000; border-top: none; border-bottom: none; padding: 1em; box-shadow: 5px 0px 5px #0004;">
                        <div *ngFor="let s of responseResultsByCategory?.dataSets"
                            style="display: flex; flex-direction: row; align-items: center;">
                            <div
                                [ngStyle]="{ 'width': '1.2em', 'height': '1.2em', 'margin': '4px 10px 4px 0', 'box-shadow': 'inset 0 0 0 1000px ' + s.backgroundColor }">
                            </div>
                            {{s.label}}
                        </div>
                    </div>
                </div>
                <div style="padding: 1em;">
                    <div class="cset-container"
                        style="border-bottom-left-radius: .5em; border-bottom-right-radius: .5em;">
                        <div>STANDARDS SUMMARY</div>
                        <div>
                            <canvas id="canvasStandardSummary"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="border: 2px solid #000; padding: 1em; border-radius: 1.2em; border-top-left-radius: 0; box-shadow: 5px 5px 5px #0004;">
                <canvas id="canvasStandardResultsByCategory"></canvas>
            </div>
        </div>
    </div>


    <div class="page-break">
        <h1>
            Standards Compliance
        </h1>

        <div *ngFor="let graph of complianceGraphs; index as i">
            <h2 style="text-align: center">{{graph.label}}</h2>
            <canvas id="complianceGraph{{i}}">
            </canvas>
        </div>
    </div>


    <!--Network Diagram-->
    <div class="page-break" *ngIf="componentCount > 0">
        <h1>Network Diagram</h1>
        <div style="display: table; height: 8in">
            <div style="padding: 50% 0; height: 0">
                <div style="width: 8in; display: block; transform-origin: top left; transform: rotate(90deg) translate(0, -100%); margin-top: -50%"
                    [innerHTML]="networkDiagramImage">
                </div>
            </div>
        </div>
    </div>


    <!--Analysis of Network Components-->
    <div class="page-break" *ngIf="componentCount > 0">
        <h1>
            Analysis of Network Components
        </h1>

        <div class="d-flex flex-row align-items-center">
            <div style="padding: 1rem;">
                <div class="cset-container" style="border-bottom-left-radius: .5em; border-bottom-right-radius: .5em;">
                    <div>COMBINED COMPONENT SUMMARY</div>
                    <div>
                        <canvas id="canvasComponentSummary"></canvas>
                    </div>
                </div>
            </div>

            <div style="padding: 1rem;">
                <p>The number of identified warnings and recommendations in the basic analysis of the user-defined
                    system diagram is <span class="warnInput">{{ warnings?.length }}</span>.
                </p>
                <p> See the Findings and Recommendations from Basic Network Analysis for details.
                </p>
            </div>
        </div>

        <div style="border: 2px solid #000; padding: 1em; border-radius: 1.2em; box-shadow: 5px 5px 5px #0004;">
            <canvas id="canvasComponentTypes"></canvas>
        </div>
    </div>


    <!--Component Compliance by Subject Area-->
    <div class="page-break" *ngIf="componentCount > 0">
        <h1>
            Component Compliance by Subject Area
        </h1>
        <div style="border: 2px solid #000; padding: 1em; border-radius: 1.2em; box-shadow: 5px 5px 5px #0004;">
            <canvas id="canvasComponentCompliance">{{canvasComponentCompliance}}</canvas>
        </div>
    </div>



    <!--Findings and Recommendations From Basic Network Analysis-->
    <div class="page-break" *ngIf="componentCount > 0">
        <h1>Findings and Recommendations From Basic Network Analysis</h1>

        <table class="table" *ngIf="!!warnings && warnings.length > 0">
            <tr>
                <th class="align-right">ID</th>
                <th>Network Warnings</th>
            </tr>
            <tr *ngFor="let w of warnings">
                <td class="align-right">{{w.Id}}</td>
                <td class="warning-text" [innerHtml]="reportSvc.fixWarningNewlines(w.WarningText)"></td>
            </tr>
        </table>

        <div class="mt-4 mb-4" *ngIf="!!warnings && warnings.length === 0">
            There are no network warnings.
        </div>
    </div>


    <div class="page-break">
        <h1>
            Security Assurance Level (SAL)
        </h1>

        <div class="sal-display {{analysisSvc.salColor(response?.salTable.OSV)}}" style="margin: 0 1em 1em 1em;">
            <div class="sal-label">CALCULATED LEVEL</div>
            <div class="sal-value">
                {{response?.salTable.OSV}}
            </div>
        </div>

        <table class="cset-table" *ngIf="response?.salTable.LastSalDeterminationType !== 'GENERAL'">
            <tr>
                <th style="width: 25%"></th>
                <th style="width: 25%">Confidentiality</th>
                <th style="width: 25%">Integrity</th>
                <th style="width: 25%">Availability</th>
            </tr>
            <tr>
                <td>Overall Values</td>
                <td>{{response?.salTable.Q_CV}}</td>
                <td>{{response?.salTable.Q_IV}}</td>
                <td>{{response?.salTable.Q_AV}}</td>
            </tr>
        </table>

        
        <div *ngIf="response?.salTable.LastSalDeterminationType === 'GENERAL'">
            <p>
                <b>Calculated General Security Assurance Levels (SAL)</b>
            </p>
            <table class="cset-table" style="table-layout: fixed">
                <tr>
                    <th style="width: 33%"></th>
                    <th style="width: 33%">Onsite</th>
                    <th style="width: 33%">Offsite</th>
                </tr>
                <tr>
                    <td>Physical Injury</td>
                    <td>{{response?.genSalTable.On_Site_Physical_Injury}}</td>
                    <td>{{response?.genSalTable.Off_Site_Physical_Injury}}</td>
                </tr>
                <tr>
                    <td>Hospital Injury</td>
                    <td>{{response?.genSalTable.On_Site_Hospital_Injury}}</td>
                    <td>{{response?.genSalTable.Off_Site_Hospital_Injury}}</td>
                </tr>
                <tr>
                    <td>Death</td>
                    <td>{{response?.genSalTable.On_Site_Death}}</td>
                    <td>{{response?.genSalTable.Off_Site_Death}}</td>
                </tr>
                <tr>
                    <td>Capital Assets</td>
                    <td>{{response?.genSalTable.On_Site_Capital_Assets}}</td>
                    <td>{{response?.genSalTable.Off_Site_Capital_Assets}}</td>
                </tr>
                <tr>
                    <td>Economic Impact</td>
                    <td>{{response?.genSalTable.On_Site_Economic_Impact}}</td>
                    <td>{{response?.genSalTable.Off_Site_Economic_Impact}}</td>
                </tr>
                <tr>
                    <td>Environmental Impact</td>
                    <td>{{response?.genSalTable.On_Site_Environmental_Cleanup}}</td>
                    <td>{{response?.genSalTable.Off_Site_Environmental_Cleanup}}</td>
                </tr>
            </table>
        </div>


        <div *ngIf="response?.salTable.LastSalDeterminationType === 'NIST'">
            <h2>
                FIPS 199 Security Assurance Level Guidance
            </h2>

            <p>
                <b>NIST SP800-60 (FIPS 199) Based Security Assurance Levels with CNSS Special Factors</b>
            </p>

            <table class="cset-table">
                <tr>
                    <th></th>
                    <th>Confidentiality</th>
                    <th>Integrity</th>
                    <th>Availability</th>
                </tr>
                <tr>
                    <td>Adjusted For System Questions</td>
                    <td>{{response?.nistSalTable?.Q_CV}}</td>
                    <td>{{response?.nistSalTable?.Q_IV}}</td>
                    <td>{{response?.nistSalTable?.Q_AV}}</td>
                </tr>
                <tr>
                    <td>Information Type</td>
                    <td>{{response?.nistSalTable?.IT_CV}}</td>
                    <td>{{response?.nistSalTable?.IT_IV}}</td>
                    <td>{{response?.nistSalTable?.IT_AV}}</td>
                </tr>
            </table>


            <table class="cset-table">
                <tr>
                    <th>Type</th>
                    <th>Special Factors</th>
                </tr>
                <tr>
                    <td>Confidentiality</td>
                    <td>{{nistSalC}}</td>
                </tr>
                <tr>
                    <td>Integrity</td>
                    <td>{{nistSalI}}</td>
                </tr>
                <tr>
                    <td>Availability</td>
                    <td>{{nistSalA}}</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="page-break" *ngIf="reportSvc.hasACET">
        <h1>Maturity Detail</h1>

        <div *ngFor="let domain of matDetails" class="pl-3 pr-3 mb-5 w-100 domain-section card">
            <h2>{{domain.DomainName}}</h2>

            <div *ngFor="let factor of domain.Assessments" class="factor-section">
                <div class="row justify-content-between m-0">
                    <b>{{factor.AssessmentFactor}}</b>

                    <div class="alert" [ngClass]="acetSvc.maturityClasses(factor.AssessmentFactorMaturity)">
                        {{ acetSvc.translateMaturity(factor.AssessmentFactorMaturity) }}
                    </div>
                </div>

                <div *ngFor="let comp of factor.Components" class="component-section">
                    <div class="row justify-content-between m-0">
                        <div>
                            <h6>{{ comp.ComponentName }}</h6>
                        </div>
                        <div>
                            <div class="alert" [ngClass]="acetSvc.maturityClasses(comp.AssessedMaturityLevel)">
                                {{ acetSvc.translateMaturity(comp.AssessedMaturityLevel) }}</div>
                        </div>
                    </div>

                    <div class="row m-0 ml-5">
                        <div class="w-20pct text-center">
                            Baseline
                            <br />
                            <div class="alert component-pill" [ngClass]="acetSvc.levelClasses(comp.Baseline)">
                                {{ comp.Baseline }}%
                            </div>
                        </div>
                        <div class="w-20pct text-center">
                            Evolving
                            <br />
                            <div class="alert component-pill" [ngClass]="acetSvc.levelClasses(comp.Evolving)">
                                {{ comp.Evolving }}%
                            </div>
                        </div>
                        <div class="w-20pct text-center">
                            Intermediate
                            <br />
                            <div class="alert component-pill" [ngClass]="acetSvc.levelClasses(comp.Intermediate)">
                                {{ comp.Intermediate }}%
                            </div>
                        </div>
                        <div class="w-20pct text-center">
                            Advanced
                            <br />
                            <div class="alert component-pill" [ngClass]="acetSvc.levelClasses(comp.Advanced)">
                                {{ comp.Advanced }}%
                            </div>
                        </div>
                        <div class="w-20pct text-center">
                            Innovative
                            <br />
                            <div class="alert component-pill" [ngClass]="acetSvc.levelClasses(comp.Innovative)">
                                {{ comp.Innovative }}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="page-break" *ngIf="reportSvc.hasACET">
        <h1>Administration</h1>
        <table class="cset-table td-align-top">
            <tr>
                <th class="col-4">Component</th>
                <th class="text-right">Documentation Hours</th>
                <th class="text-right">Interview Process Hours</th>
                <th class="text-right">Statements Reviewed</th>
            </tr>
            <tr *ngFor="let comp of Components">
                <td>{{comp.Component}}
                    <div>
                        <span *ngIf="comp.HasSpecifyField" class="font-italic">{{comp.OtherSpecifyValue}}</span>
                    </div>
                </td>
                <td class="text-right">{{comp.DocumentationHours}}</td>
                <td class="text-right">{{comp.InterviewHours}}</td>
                <td class="text-right">{{comp.StatementsReviewed}}</td>
            </tr>
            <tr class="total-row">
                <td>Total Review Hours</td>
                <td class="text-right">{{ DocumentationTotal }}</td>
                <td class="text-right">{{ InterviewTotal }}</td>
                <td class="text-right"></td>
            </tr>
            <tr class="total-row">
                <td>Grand Totals</td>
                <td class="text-right" colspan="2">{{ GrandTotal }}</td>
                <td class="text-right">{{ ReviewedStatementTotal }}</td>
            </tr>
        </table>

        <div class="row" *ngFor="let attr of adminPageData?.Attributes">
            <div class="col-sm-9 admin-label">
                <label>{{ attr.AttributeName }}</label>
            </div>
            <div class="col-sm-3">
                {{attr.AttributeValue}}
            </div>
        </div>
    </div>

    <div class="page-break" *ngIf="reportSvc.hasACET">
        <h1>
            ACET Dashboard
        </h1>

        <table class="table-site-info">
            <tr>
                <td>Credit Union Name:</td>
                <td>{{acetDashboard?.CreditUnionName}}</td>
            </tr>
            <tr>
                <td>Charter Number:</td>
                <td>{{acetDashboard?.Charter}}</td>
            </tr>
            <tr>
                <td>Assets:</td>
                <td>{{acetDashboard?.Assets | currency:'USD':'symbol':'1.0'}}</td>
            </tr>
            <tr>
                <td>Hours:</td>
                <td>{{ acetDashboard?.Hours }}</td>
            </tr>
        </table>

        <div class="mt-3 mb-4">
            <p>
                <b>Inherent Risk Profile</b>
            </p>
            <table class="cset-table mb-1">
                <tr>
                    <th rowspan="2">Category</th>
                    <th colspan="5" class="text-center">Inherent Risk</th>
                    <th rowspan="2">Risk Level</th>
                </tr>
                <tr>
                    <th class="table-head text-right">1</th>
                    <th class="table-head text-right">2</th>
                    <th class="table-head text-right">3</th>
                    <th class="table-head text-right">4</th>
                    <th class="table-head text-right">5</th>
                </tr>
                <tr *ngFor="let irp of acetDashboard?.IRPs">
                    <td>{{ irp.HeaderText }}</td>
                    <td class="text-right">{{ irp.RiskCount[0] }}</td>
                    <td class="text-right">{{ irp.RiskCount[1] }}</td>
                    <td class="text-right">{{ irp.RiskCount[2] }}</td>
                    <td class="text-right">{{ irp.RiskCount[3] }}</td>
                    <td class="text-right">{{ irp.RiskCount[4] }}</td>
                    <td class="text-nowrap">{{ irp.Comment }}</td>
                </tr>
                <tr>
                    <td class="border-table">Totals</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[0] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[1] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[2] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[3] }}</td>
                    <td class="border-table text-right">{{ acetDashboard?.SumRisk[4] }}</td>
                    <td class="border-table"></td>
                </tr>
            </table>

            <div class="ml-3">
                <div>Overall Risk Level is <span class="blue-text font-weight-bold">
                        {{ acetSvc.interpretRiskLevel(acetDashboard?.SumRiskLevel) }}
                    </span>
                </div>
                <div *ngIf="!acetDashboard?.Override || acetDashboard?.Override == '' || acetDashboard?.Override == 0">
                    Overall Risk Level has not been overridden
                </div>
                <div
                    *ngIf="!!acetDashboard?.Override && acetDashboard?.Override != '' && acetDashboard?.Override !== 0">
                    Overall Risk Level has been overriden to <span
                        class="blue-text font-weight-bold">{{ acetSvc.interpretRiskLevel(acetDashboard?.Override) }}</span>
                    <div>Override Reason:
                        <em>
                            {{ acetDashboard?.OverrideReason }}
                        </em>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 mb-3">
            <p>
                <b>Cybersecurity Maturity</b>
            </p>
            <table class="cset-table">
                <tr>
                    <th width="50%" class="table-head">Domain</th>
                    <th width="50%" class="table-head">Maturity Level</th>
                </tr>
                <tr *ngFor="let domain of acetDashboard?.Domains; let i = index">
                    <td>Domain {{ i + 1 }}: {{ domain.Name }}</td>
                    <td class="text-center">
                        <div class="alert mb-0" [ngClass]="acetSvc.maturityClasses(domain.Maturity)">
                            {{ domain.Maturity }}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div *ngIf="reportSvc.hasACET">
        <app-required></app-required>
    </div>

    <div class="page-break">
        <h1>
            Document Library
        </h1>

        <table class="cset-table-3">
            <tr>
                <th>Title</th>
                <th>File Name</th>
            </tr>
            <tr *ngFor="let doc of response?.DocumentLibraryTable">
                <td>{{doc.documenttitle}}</td>
                <td>{{doc.FileName}}</td>
            </tr>
            <tr *ngIf="response?.DocumentLibraryTable.length === 0">
                <td></td>
                <td>There are no documents to display</td>
            </tr>
        </table>
    </div>




    <div class="page-break">
        <h1>
            Ranked Subject Areas
        </h1>

        <p>
            This chart shows subject areas needing the most attention.  Each bar represents the labeled subject area’s
            weighted contribution
            so that the combined total always equals 100%.  The weighted contribution includes the importance of both
            the
            question and the subject area, as well as the percentage of missed questions in that subject area.
        </p>
        <canvas id="canvasRankedSubjectAreas">
        </canvas>
    </div>





    <div class="page-break">
        <h1>
            Summary Of Ranked Questions
        </h1>

        <p>
            Each question that did not meet the required Security Assurance Level (SAL) is shown in ranking order below.
            The displayed
            levels are the SALs applicable to that question. They are: Low (L), Moderate (M), High (H), and Very High
            (VH).
            CNSSI levels are for Confidentiality (C), Integrity (I), and Availability (A). DoD Instruction 8500.2 levels
            are for Confidentiality (Conf) and Mission Assurance Category (MAC). They are: Classified (C), Sensitive
            (S),
            and Public (P) for Confidentiality; MAC I, II, and III for Mission Assurance Category.
        </p>

        <table *ngFor="let rq of response?.RankedQuestionsTable" class="cset-table-3">
            <tr>
                <th style="width: 15%">Rank: {{rq.Rank}}</th>
                <th>{{rq?.CategoryAndNumber}}</th>
                <th style="width: 15%">Level: {{configSvc.salLabels[rq.Level]}}</th>
            </tr>
            <tr>
                <td colspan="2" [innerHTML]="rq.Question"></td>
                <td class="tint2">{{configSvc.answerLabels[rq.Answer]}}</td>
            </tr>
        </table>
    </div>



    <div class="page-break">
        <h1>
            Question Comments
        </h1>

        <table *ngFor="let c of response?.QuestionsWithComments" class="cset-table-3">
            <tr>
                <th colspan="3">
                    {{c.CategoryAndNumber}}
                    <i *ngIf="c.MarkedForReview === 'True'" class="cset-icons-browse"
                        style="font-size: 150%; margin: 0 10px; top: 3px; height: 1px;" title="Marked for Review"></i>
                </th>
            </tr>
            <tr>
                <td class="tint2" style="width: 10%">Question:</td>
                <td class="tint2" [innerHTML]="c.Question"></td>
                <td class="tint2" style="width: 20%">{{configSvc.answerLabels[c.Answer]}}</td>
            </tr>
            <tr>
                <td class="tint2">Comment:</td>
                <td colspan="2">{{c.Comment}}</td>
            </tr>
        </table>

        <div *ngIf="response?.QuestionsWithComments.length === 0" class="cset-table-3">
            There are no questions with comments to display.
        </div>
    </div>



    <div class="page-break">
        <h1>
            Alternate Justification Comments
        </h1>

        <table *ngFor="let t of response?.QuestionsWithAlternateJustifi" class="cset-table-3">
            <tr>
                <th colspan="3">{{t.CategoryAndNumber}}</th>
            </tr>
            <tr>
                <td class="tint2" style="width: 10%">Question:</td>
                <td class="tint2" [innerHTML]="t.Question"></td>
                <td class="tint2" style="width: 20%">{{configSvc.answerLabels[t.Answer]}}</td>
            </tr>
            <tr>
                <td class="tint2">Alternate Justification:</td>
                <td colspan="2">{{t.AlternateJustification}}</td>
            </tr>
        </table>

        <div *ngIf="response?.QuestionsWithAlternateJustifi.length === 0" class="cset-table-3">
            There are no questions with alternate justifications to display.
        </div>
    </div>



    <div class="page-break">
        <h1>
            Questions Marked For Review
        </h1>

        <table *ngIf="response?.QuestionsMarkedForReview.length > 0" class="cset-table-3">
            <tr *ngFor="let mfr of response?.QuestionsMarkedForReview">
                <td class="tint2" style="width: 20%">{{mfr.CategoryAndNumber}}</td>
                <td [innerHTML]="mfr.Question"></td>
                <td class="tint2" style="width: 20%">{{configSvc.answerLabels[mfr.Answer]}}</td>
            </tr>
        </table>


        <div *ngIf="response?.QuestionsMarkedForReview.length === 0" class="cset-table-3">
            There are no questions marked for review.
        </div>
    </div>



    <div class="page-break" *ngFor="let standard of response?.StandardsQuestions">
        <h1>
            Question Details: {{standard.StandardShortName}}
        </h1>

        <table class="cset-table-3">
            <tr *ngFor="let q of standard.Questions">
                <td class="tint2" style="width: 20%">{{q.CategoryAndNumber}}</td>
                <td [innerHTML]="q.Question"></td>
                <td class="tint2" style="width: 20%">{{configSvc.answerLabels[q.Answer]}}</td>
            </tr>
        </table>
    </div>



    <div class="page-break" *ngIf="response?.ComponentQuestions?.length > 0">
        <h1>
            Component Question Details
        </h1>

        <table class="cset-table-3" *ngFor="let q of response?.ComponentQuestions">
            <tr>
                <th colspan="4">Component: {{q.ComponentName}} - {{q.ComponentType}}</th>
            </tr>
            <tr>
                <td class="tint2">Question:</td>
                <td colspan="2" class="tint2" style="width: 80% !important" [innerHTML]="q.Question"></td>
                <td class="tint2" style="width: 20% !important">{{configSvc.answerLabels[q.Answer]}}</td>
            </tr>
            <tr>
                <td class="tint2">Zone:</td>
                <td class="w-50">{{q.Zone}}</td>
                <td class="tint2">SAL:</td>
                <td>{{configSvc.salLabels[q.SAL]}}</td>
            </tr>
        </table>
    </div>
</div>