<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div id="white-panel" class="p-0 bgc-gray-50 d-flex flex-column justify-content-start flex-11a">
    <div class="p-0 d-flex flex-column flex-00a">

        <!-- CSET Logo and Name -->
        <div class="m-4 d-flex justify-content-start flex-00a">
            <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                <path class="fill-white" d="M384.4,166.7c0-14.3-0.1-30.7-0.6-38.9C379.4,58.8,317,6.2,246.3,6.4v0c-0.1,0-0.2,0-0.3,0
                  c-0.1,0-0.1,0-0.3,0h0C175,7.5,113.6,61.2,110.4,130.2c-0.4,9.7-0.3,25.2-0.1,36.4h-0.2v27.2h62.4v-14.1c0,0-0.5-33.8,1-50.1
                  c3.3-34.8,36.7-60.2,73-60.9c36.3,0,70.2,24.9,74.1,59.6c1.8,16.3,0.5,65.5,0.5,65.5h0.9h62.3V166.7L384.4,166.7z" />
                <path class="fill-primary" d="M331.7,183.5c0.3-15.6,0.6-44.2-0.8-56.3c-4.3-38.5-41.3-68.8-84.4-68.8
                  c-43.2,0.8-79.7,31.7-83.3,70.3c-1.5,16.7-1.1,49.8-1.1,51.2v3.6h-41.7v-14.9c0.2-0.7,0.2-1.4,0.2-2.2c-0.2-11.2-0.4-26.4,0.1-35.8
                  c2.9-61.8,59-113,125.1-114c0.1,0,0.6,0,0.7,0c66,0,122.9,50.1,126.9,111.8c0.4,6.3,0.6,18.8,0.6,38.2v16.9H331.7z" />
                <path class="fill-white" d="M404.6,207.6H90c-19.4,0-35.1,15.7-35.1,35.1v215.8c0,19.4,15.7,35.1,35.1,35.1h314.6
                  c19.4,0,35.1-15.7,35.1-35.1V242.7C439.7,223.3,424,207.6,404.6,207.6z" />
                <path class="fill-primary" d="M90,483.2c-13.6,0-24.7-11.1-24.7-24.7V242.7c0-13.6,11.1-24.7,24.7-24.7h314.6
                  c13.6,0,24.7,11.1,24.7,24.7v215.8c0,13.6-11.1,24.7-24.7,24.7H90z" />
                <path class="fill-white" d="M393,302.9H146.2c-4.3,0-4.6,1-4.6,6v91.2c0,3.2,0.5,4.8,3.4,5.3c0.4,0.2-0.2,0,0.2,0h243.2
                  v37.2H132.8c-12,0-20-5.3-25.4-15.4c-2.5-4.6-3.1-10.1-3.1-15.9V295.8c0-12.3,4.3-21.3,14.4-26.3c4.3-2.3,8.6-3.7,14.1-3.7H393
                  V302.9z" />
            </svg>
            <svg width="214" height="50" viewBox="100 -25 70 65">
                <path d="M254.64,29.7L255.106,29.7C255.65,29.7 256.09,29.517 256.09,29.077 256.09,28.689 255.805,28.43 255.183,28.43 254.924,28.43 254.743,28.457 254.64,28.483z M254.614,32.083L253.63,32.083 253.63,27.834C254.019,27.783 254.563,27.705 255.261,27.705 256.064,27.705 256.426,27.834 256.711,28.043 256.971,28.223 257.152,28.534 257.152,28.948 257.152,29.467 256.763,29.803 256.273,29.959L256.273,30.011C256.686,30.14 256.893,30.476 257.022,31.046 257.152,31.694 257.256,31.927 257.333,32.083L256.297,32.083C256.167,31.927 256.09,31.565 255.961,31.046 255.882,30.605 255.623,30.399 255.079,30.399L254.614,30.399z M251.997,29.882C251.997,31.771 253.422,33.273 255.313,33.273 257.152,33.3 258.55,31.771 258.55,29.906 258.55,28.016 257.152,26.488 255.261,26.488 253.422,26.488 251.997,28.016 251.997,29.882 M259.639,29.882C259.639,32.264 257.721,34.154 255.287,34.154 252.853,34.154 250.91,32.264 250.91,29.882 250.91,27.499 252.853,25.634 255.313,25.634 257.721,25.634 259.639,27.499 259.639,29.882 M210,0L271,0 271,8 244,8 244,38 237,38 237,8 210,8z M147,23L147,30 201,30 201,38 140,38 140,0 201,0 201,8 147,8 147,16 175,16 175,23z M125.078,38L70,38 70,30.316 122.721,30.199C123.334,30.199 123.641,29.894 123.755,29.277 123.792,29.162 123.937,29.066 123.937,28.99L124,23.226 124,23 70,23 70,6.457C70,3.806 70.951,1.883 73.104,0.806 74.028,0.308 74.959,0 76.152,0L131,0 131,7.724 78.448,7.668C77.833,7.668 77.323,7.955 77.205,8.531 77.166,8.648 77,8.744 77,8.82L77,16 131,16 131,31.467C131,34.158 130.153,36.107 128.039,37.181 127.078,37.681 126.229,38 125.078,38 M8,28.875C8,29.566 8.115,29.898 8.729,30.013 8.807,30.053 8.69,30 8.765,30L61,30 61,38 6.115,38C3.543,38 1.818,36.857 0.666,34.705 0.127,33.705 0,32.525 0,31.295L0,6.457C0,3.806 0.935,1.883 3.087,0.806 4.009,0.308 4.923,0 6.115,0L62,0 62,8 8.996,8C8.075,8,8,8.207,8,9.281z"
                    class="fill-primary" />
            </svg>
        </div>

        <div class="mb-4 mr-4 ml-4 p-3 bgc-secondary c-white">
            Enter the email address associated with your CSET account.
        </div>

        <div class="px-4">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate class="d-flex flex-column justify-content-between flex-00a">
                <div class="mb-3" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email"
                        #email="ngModel" required />
                    <div *ngIf="f.submitted && !email.valid" class="alert alert-danger">eMail is required</div>
                </div>
                <div class="d-flex justify-content-between flex-11a">
                    <button [disabled]="loading || !enableNext" class="btn btn-primary" (click)="loadQuestions()">Next</button>
                    <a [routerLink]="['/home','login']">Login</a>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6 ws-no-wrap">
                            <div class="spinner-container" *ngIf="loading">
                                <div style="max-width: 30px; max-height: 30px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mx-4 mb-4" *ngIf="questionsLoaded">
            <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
                <hr />
                <div class="mb-3">
                    Please answer the security question and click Reset Password to receive an email with a
                    temporary password.
                </div>
                <table class="paddingBetweenCols">
                    <tr *ngIf="securityQuestion !== null">
                        <td>{{securityQuestion}}</td>
                        <td>
                            <input required type="text" class="form-control" id="questionAnswer" name="questionAnswer"
                                #answer="ngModel" [(ngModel)]="securityAnswer">
                            <div *ngIf="f.submitted && !answer.valid" class="alert alert-danger">answer is required</div>
                        </td>
                    </tr>
                </table>
                <button type="submit" [disabled]="loading" class="btn btn-primary">Reset Password</button>
            </form>
        </div>

        <div *ngIf="emailSent" class="px-4 pb-4">
            <div class="mb-3">
                <p *ngIf="warning.length > 0" class="alert alert-danger">{{warning}}</p>
                <p>
                    An email was sent to {{model.email}} containing your temporary password.
                </p>
            </div>
            <p>Please <a [routerLink]="['/home','login']">login</a> using your temporary password to complete the registration
                process.</p>
        </div>
        <div class="alert alert-danger" *ngIf="errorMsg">{{warning}}</div>

        <div class="mt-4 mb-4 mr-4 ml-4 d-flex flex-column justify-content-start align-items-center flex-00a">
            <p class="c-gray-600 mb-4">
                The Cyber Security Evaluation Tool (CSET®) is a Department of Homeland Security (DHS) product that
                assists
                organizations
                in protecting their key national cyber assets. It was developed under the direction of the DHS National
                Cybersecurity
                Assessments and Technical Services team (NCATS) by cybersecurity experts. This tool provides users with
                a
                systematic
                and repeatable approach for assessing the security posture of their cyber systems and networks. It
                includes
                both
                high-level and detailed questions related to all industrial control and IT systems.​​
            </p>
            <img width="150" height="150" src="./assets/images/DHSLogo.svg">
        </div>

    </div>
</div>
