<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<style>
  .container {
    height: 70%;
    width: 100%;
  }

  .container textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .container .textarea-wrapper {
    height: calc(100% - 26px);
  }
</style>
<div class="white-panel oy-auto h-0 d-flex flex-column flex-11a">
  <h3 class="d-flex flex-column flex-00a">{{feedbackHeader}}</h3>
  <div class="flex-container">
    <p>
      Please ensure that the feedback you provide does not include any proprietary or assessment related
      information. These comments should be considered part of a public community discussion with regard
      to the questions, requirements, CSET features Requests or Bug notifications.
    </p>
    <p>Copy text to clipboard and paste into an email</p>
    <button (click)="copyText(divtoView)" title='Copy Feedback Text To Clipboard'
      class='textAreaCopyBtn btn btn-primary'>CopyText</button>
    <button (click)="defaultClientEmail()" title='Create Feedback Email in default mail client'
      class='textAreaCopyBtn btn btn-primary'>Email</button>
  </div>
  <div *ngIf="!initialized" class="d-flex flex-11a w-100">
    <div class="spinner-container d-flex justify-content-center align-items-center flex-11a w-100">
      <div style="max-width: 50px; max-height: 50px;"></div>
    </div>
  </div>
  <div class="mb-4 d-flex flex-column justify-content-between flex-00a" [hidden]="!initialized">
    <div #divtoView class="copytxt" [innerHTML]="feedbackBody"></div>
  </div>
  <div class="mt-3 d-flex justify-content-between flex-00a">
    <button class="btn btn-primary" (click)="navSvc2.navBack('feedback')">Back</button>
  </div>
</div>