<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="assess-compenent d-flex flex-column justify-content-start flex-11a w-100">

  <!-- Tabs -->
  <div class="mt-0 pl-0 d-flex flex-column justify-content-start flex-00a">
    <div class="d-flex justify-content-start flex-11a">
      <ul class="nav d-flex justify-content-start flex-00a bgc-secondary questions-tab-border">
        <li class="d-flex align-items-center flex-00a" [ngClass]="{'nav-tab':expandNav, 'nav-tab-collapsed':!expandNav}" class.active="false"
          (click)="toggleNav()">
          <button class="icon-button-light mx-2 d-flex justify-content-start align-items-center flex-00a" matTooltip="Expand/Collapse options" matTooltipPosition="below">
            <span class="fs-base-1 m-0" [ngClass]="{'cset-icons-chevron-left':expandNav, 'cset-icons-chevron-right':!expandNav}"></span>
          </button>
        </li>
      </ul>
      <ul class="nav nav-tabs d-flex flex-11a questions-tab-border">
        <li class="d-flex align-items-center flex-00a" [class.active]="assessSvc.currentTab === 'prepare'" (click)="assessSvc.currentTab = 'prepare'">
          <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab" routerLink="prepare">
            <span class="tab-icon cset-icons-clipboard-pencil mr-2" id="prepareIcon"></span>
            <span class="nav-tab-text">Prepare</span>
          </button>
        </li>
        <li class="d-flex align-items-center flex-00a" [class.active]="assessSvc.currentTab === 'diagram'" (click)="assessSvc.currentTab = 'diagram'">
          <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab" routerLink="diagram">
            <span class="tab-icon mr-2" id="diagramIcon">
              <i class="fas fa-project-diagram"></i>
            </span>
            <span class="nav-tab-text">Diagram</span>
          </button>
        </li>
        <li class="d-flex align-items-center flex-00a" [class.active]="assessSvc.currentTab === 'questions'" (click)="assessSvc.currentTab = 'questions'">
          <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab" routerLink="questions">
            <span class="tab-icon cset-icons-question-mark mr-2" *ngIf="assessSvc.applicationMode === 'Q'" id="questionsIcon" alt="Questions mode icon"></span>
            <span class="tab-icon cset-icons-books-stack-2 mr-2" *ngIf="assessSvc.applicationMode === 'R'" id="requirementsIcon" alt="Requirements mode icon"></span>
            <span class="nav-tab-text">{{ this.assessSvc.applicationMode === 'R' ? requirementsLabel() : 'Questions' }}</span>
          </button>
        </li>
        <li class="d-flex align-items-center flex-00a" [class.active]="assessSvc.currentTab === 'results'" (click)="assessSvc.currentTab = 'results'">
          <button class="btn bgc-trans d-flex align-items-center flex-00a h-100" data-toggle="tab" routerLink="results">
              <span class="tab-icon cset-icons-results mr-2"></span>
              <span class="nav-tab-text">Results</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Content -->
  <div class="side-nav-container p-0 d-flex flex-column justify-content-start flex-11a">
    <mat-sidenav-container autosize id="sidenav-container" class="d-flex flex-column flex-11a">
      <mat-sidenav #sNav mode="{{innerWidth<960 ? 'over' : 'side'}}" [opened]="expandNav" id="sidenav" 
            (scroll)="handleScroll('sidenav')" (openedChange)="openStateChange($event)">
        <mat-tree [dataSource]="navSvc?.dataSource" [treeControl]="navSvc?.treeControl">
          <mat-tree-node *matTreeNodeDef="let node; when: !navSvc?.hasNestedChild" class="ml-1">
            <button (click)="selectItem(node?.value)" [disabled]="checkText(node?.label)" class="btn btn-link no-underline ta-left">
              <span class="menu-link ws-normal">
                {{node?.label}}
              </span>
            </button>
          </mat-tree-node>
          <mat-nested-tree-node *matTreeNodeDef="let node; when: navSvc?.hasNestedChild">
            <button  class="btn btn-link no-underline" matIconButton matTreeNodeToggle="!navSvc?.disableCollapse" *ngIf="node.value === null || node.value?.length < 1">
              <div class="menu-link d-flex">
                  <mat-icon style="position: relative; top: -.1rem;">
                      {{navSvc?.treeControl?.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon> 
                    <div class="text-wrap text-left u-hover">
                      {{node?.label}}
                    </div>
                  </div>
            </button>
            <button class="btn btn-link" matIconButton (click)="selectItem(node?.value)" *ngIf="node.value !== null && node.value?.length >= 1">
              <span class="menu-link">
                {{node?.label}}
              </span>
            </button>
            <ul class="mat-tree-node" *ngIf="navSvc?.treeControl?.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </mat-nested-tree-node>
        </mat-tree>
      </mat-sidenav>
      <mat-sidenav-content class="bgc-gray-50 d-flex flex-column flex-11a">
        <div class="oy-auto h-0 d-flex flex-column flex-11a" id="sidenav-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

