<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="question-group">

  <div class="subcat-header" [class.flat-bottom]="mySubCategory.Expanded">
    <div class="sub-head-1" (click)="mySubCategory.Expanded = !mySubCategory.Expanded"
      (keydown.Spacebar)="mySubCategory.Expanded = !mySubCategory.Expanded"
      (keydown.Enter)="mySubCategory.Expanded = !mySubCategory.Expanded" [attr.aria-expanded]="mySubCategory.Expanded"
      tabindex="0">
      <div class="sub-head-2">
        <span *ngIf="mySubCategory.SubCategoryHeadingText != ''">{{ mySubCategory.SubCategoryHeadingText }}</span>
      </div>
      <div class="d-flex justify-content-end align-items-center flex-00a">
        <span [class.display-hidden]="!mySubCategory.HasReviewItems"
          class="d-flex justify-content-center align-items-center flex-00a"
          matTooltip="One or more controls in this category requires further review.">
          <span class="mr-1 cset-icons-flag-dark fs-small"></span>
          <span class="mb-1 fs-small">Requires Review</span>
        </span>
        <app-progress [value]="percentAnswered" class="mr-2 ml-2"></app-progress>
        <i class="cset-icons-chevron-down q-expand" [class.expand-flip]="mySubCategory.Expanded"></i>
      </div>
    </div>
    <div class="header-question" *ngIf="mySubCategory.HeaderQuestionText !== null 
                  && mySubCategory.HeaderQuestionText.length > 0
                  && mySubCategory.Questions.length > 1" [class.display-none]="!mySubCategory.Expanded">

      <div class="mb-2">
        {{ mySubCategory.HeaderQuestionText }}
      </div>
      <div [class.display-none]="questionsSvc.isFilterEngaged()">
        <!-- this is the header answer block -->
        <div class="btn-group btn-group-toggle answer-group" data-toggle="buttons">
          <label class="btn btn-yes form-check-label" [class.answer-selected]="mySubCategory.SubCategoryAnswer === 'Y'"
            (click)="setBlockAnswer('Y')">
            <input name="subcat_{{ mySubCategory.SubCategoryId }}" class="form-check-input" type="radio"
              autocomplete="off" [checked]="mySubCategory.SubCategoryAnswer === 'Y'">{{ configSvc.buttonLabels['Y'] }}
          </label>
          <label class="btn btn-no form-check-label" [class.answer-selected]="mySubCategory.SubCategoryAnswer === 'N'"
            (click)="setBlockAnswer('N')">
            <input name="subcat_{{ mySubCategory.SubCategoryId }}" class="form-check-input" type="radio"
              autocomplete="off" [checked]="mySubCategory.SubCategoryAnswer === 'N'">{{ configSvc.buttonLabels['N'] }}
          </label>
          <label class="btn btn-na form-check-label" [class.answer-selected]="mySubCategory.SubCategoryAnswer === 'NA'"
            (click)="setBlockAnswer('NA')">
            <input name="subcat_{{ mySubCategory.SubCategoryId }}" class="form-check-input" type="radio"
              autocomplete="off" [checked]="mySubCategory.SubCategoryAnswer === 'NA'">{{ configSvc.buttonLabels['NA'] }}
          </label>
          <label class="btn btn-na form-check-label" style="visibility: hidden;">
            <input name="subcat_{{ mySubCategory.SubCategoryId }}" class="form-check-input" type="radio"
              autocomplete="off">XX
          </label>
        </div>
      </div>
    </div>
  </div>


  <!-- this houses all of the questions -->
  <div class="subcat-question-list" style="padding: 1em;" [class.display-none]="!mySubCategory.Expanded">
    <div class="question-row" *ngFor="let q of mySubCategory.Questions" [class.display-none]="!q.Visible">

      <div style="width: 100%">
        <div class="number-and-text">
          <div style="font-weight: bold; margin-right: 1em; white-space: nowrap;">{{ q.DisplayNumber }}</div>
          <div style="width: 100%;">
            <div [style.word-break]="applyWordBreak(q)" [innerHTML]="applyTokensToText(q)"
              (click)="questionTextClicked(q, $event)">
            </div>
            <span *ngIf="configSvc.showQuestionAndRequirementIDs()" class="debug-highlight">{{ q.QuestionId }}</span>
            <app-question-extras #extrasComponent [myQuestion]="q" (changeExtras)="refreshReviewIndicator()"
             (changeComponents)="refreshComponentOverrides()">
            </app-question-extras>
          </div>
        </div>
      </div>

      <div>
        <div class="btn-group btn-group-toggle answer-group" data-toggle="buttons">
          <label class="btn btn-yes form-check-label" [class.answer-selected]="q.Answer === 'Y'"
            (click)="storeAnswer(q, 'Y')">
            <input name="q_{{q.QuestionId}}" class="form-check-input" type="radio" autocomplete="off"
              [checked]="q.Answer === 'Y'">Yes
          </label>
          <label class="btn btn-no form-check-label" [class.answer-selected]="q.Answer === 'N'"
            (click)="storeAnswer(q, 'N')">
            <input name="q_{{q.QuestionId}}" class="form-check-input" type="radio" autocomplete="off"
              [checked]="q.Answer === 'N'">No
          </label>
          <label class="btn btn-na form-check-label" [class.answer-selected]="q.Answer === 'NA'"
            (click)="storeAnswer(q, 'NA')">
            <input name="q_{{q.QuestionId}}" class="form-check-input" type="radio" autocomplete="off"
              [checked]="q.Answer === 'NA'">NA
          </label>
          <label class="btn btn-alt form-check-label" [class.answer-selected]="q.Answer === 'A'"
            (click)="storeAnswer(q, 'A')">
            <input name="q_{{q.QuestionId}}" class="form-check-input" type="radio" autocomplete="off"
              [checked]="q.Answer === 'A'">Alt
          </label>

          <!-- Mark For Review Flag  -->
          <label class="mr-0 ml-2 btn form-check-label btn-mfr" [class.answer-selected]="q.MarkForReview === true"
            (click)="saveMFR(q);" matTooltip="This control requires further review.">
            <input name="q_{{q.QuestionId}}_F" class="d-none" type="checkbox" checked="{{q.MarkForReview === true}}">
            <span class="cset-icons-flag-dark fs-base"></span>
          </label>
        </div>

        <div *ngIf="q.Answer === 'A'">
          <textarea appAutoSize class="form-control" style="height: 80px; width: 100%; min-height: 72px;"
            placeholder="Description, explanation and/or justification for alternate answer"
            [(ngModel)]="q.AltAnswerText" (change)="storeAltText(q)"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>