<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="white-panel d-flex justify-content-start flex-column flex-11a">
  <h3 class="wrap-text">Cybersecurity Standards Selection</h3>

  <div class="d-flex flex-wrap align-items-start flex-00a">
    <div class="mr-2 d-flex justify-content-start flex-column flex-1150">
      <p class="m-0">
        Select a standard from the list below to define the questions you will answer during the assessment. Standards
        in bold text are recommended based on your demographic information.
      </p>
      <div class="d-flex flex-wrap justify-content-start align-items-start flex-00a">
        <button class="btn btn-link p-0 mr-1" (click)="doBasicAssessment()" matTooltip="Start an assessment with a basic standard selected">I want to do a basic assessment instead</button>
      </div>
    </div>

    <div class="bgc-secondary c-gray-50 p-2 mt-2 mt-md-0" style="border-radius: 4px; margin: 0 4px;">
      <div style="white-space: nowrap">Requirements</div>
      <div class="bgc-gray-50 c-gray-900 standards-stats mt-1">{{
        standards?.RequirementCount }}</div>
    </div>

    <div class="bgc-secondary c-gray-50 p-2 mt-2 mt-md-0" style="border-radius: 4px; margin: 0 4px;">
      <div style="white-space: nowrap">Questions</div>
      <div class="bgc-gray-50 c-gray-900 standards-stats mt-1">{{
        standards?.QuestionCount }}</div>
    </div>
  </div>


  <form #f="ngForm">
    <div *ngFor="let cat of standards?.Categories" style="margin: 1.6em 0">
      <h4>{{cat.CategoryName}}</h4>
      <div *ngFor="let s of cat.Standards" class="d-flex flex-column justify-content-between flex-00a">
        <div class="standard-item d-flex justify-content-between flex-11a">
          <div>
            <input type="checkbox" id="{{s.Code}}" name="{{s.Code}}" class="mt-1"
                (change)="submit(s, $event)" [checked]="s.Selected">
            <label for="{{s.Code}}" [class.recommended-standard]="s.Recommended">
              {{s.FullName}}
              <ng-template [ngIf]="s.Recommended">
                <span class="recommended-badge">recommended</span>
              </ng-template>
            </label>
          </div>
          <i class="cset-icons-chevron-down expand" [class.expand-flip]="expandedDesc[s.Code]" (click)="toggleExpansion(s.Code)"></i>
        </div>
        <div class="b-primary-200 br-standard fst-italic" [class.open-desc]="expandedDesc[s.Code]" [class.closed-desc]="!expandedDesc[s.Code]">
          {{s.Description}}
        </div>

      </div>
    </div>
  </form>

  <div class="mt-3 d-flex justify-content-between flex-00a">
    <button class="btn btn-primary" (click)="navSvc2.navBack('standards')">Back</button>
    <button class="btn btn-primary" (click)="navSvc2.navNext('standards')">Next</button>
  </div>
</div>
