<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="d-flex flex-column flex-11a mb-3">
  <h4>Overall SAL</h4>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.Selected_Sal_Level"
        (click)="saveLevel(level.value,'std')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_main" [checked]="level.value === this.salsSvc.SelectedSAL?.Selected_Sal_Level">
        {{level.value}}
      </label>
    </ng-template>
  </div>
</div>

<div class="d-flex flex-column flex-11a mb-4">
  <h4>Confidentiality</h4>
  <div class="mb-2">
    This value relates to the importance of protecting information from unauthorized access. The more important it is
    that unauthorized users do not have access to the information the higher your SAL level.
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.CLevel"
        (click)="saveLevel(level.value,'C')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_confidentiality" [checked]="level.value === this.salsSvc.SelectedSAL?.CLevel">
        {{level.value}}
      </label>
    </ng-template>
  </div>
</div>

<div class="d-flex flex-column flex-11a mb-3">
  <h4>Integrity</h4>
  <div class="mb-2">
    This value relates to the the importance of the accuracy of information. The more important it is that
    information is kept consistent, accurate, and only changed by those authorized the higher your SAL level.
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.ILevel"
        (click)="saveLevel(level.value,'I')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_integrity" [checked]="level.value === this.salsSvc.SelectedSAL?.ILevel">
        {{level.value}}
      </label>
    </ng-template>
  </div>
</div>

<div class="d-flex flex-column flex-11a mb-3">
  <h4>Availability</h4>
  <div class="mb-2">
    This value relates to the importance of information being readily available.The more important it is to have your
    information available for use the higher your SAL level.
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
      <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.ALevel"
        (click)="saveLevel(level.value,'A')">
        <input class="form-check-input" type="radio" autocomplete="off" name="sal_availability" [checked]="level.value === this.salsSvc.SelectedSAL?.ALevel">
        {{level.value}}
      </label>
    </ng-template>
  </div>
</div>
