<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 




<div>
    <div class="d-flex flex-column flex-11a mb-3">
      <h4>Overall SAL</h4>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.Selected_Sal_Level"
            (click)="saveLevel(level.value,'std')">
            <input class="form-check-input" type="radio" autocomplete="off" name="sal_main"
              [checked]="level.value === this.salsSvc.SelectedSAL?.Selected_Sal_Level"> {{level.value}}
          </label>
        </ng-template>
      </div>
  </div>

  <div class="lmhvh-display">
    <div>
      <h4>Confidentiality</h4>
      <div style="margin-bottom: 10px;">
          This value relates to the importance of protecting information from unauthorized access. The more important it
          is that unauthorized users do not have access to the information the higher your SAL level.
        </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.CLevel" (click)="saveLevel(level.value,'C')">
            <input class="form-check-input" type="radio" autocomplete="off" name="sal_confidentiality"
              [checked]="level.value === this.salsSvc.SelectedSAL?.CLevel"> {{level.value}}
          </label>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="lmhvh-display">
    <div>
      <h4>Integrity</h4>
      <div style="margin-bottom: 10px;">
          This value relates to the the importance of the accuracy of information. The more important it is that
          information is kept consistent, accurate, and only changed by those authorized the higher your SAL level.
        </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.ILevel" (click)="saveLevel(level.value,'I')">
            <input class="form-check-input" type="radio" autocomplete="off" name="sal_integrity"
              [checked]="level.value === this.salsSvc.SelectedSAL?.ILevel"> {{level.value}}
          </label>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="lmhvh-display">
    <div>
      <h4>Availability</h4>
      <div style="margin-bottom: 10px;">
          This value relates to the importance of information being readily available.The more important it is to have
          your information available for use the higher your SAL level.
        </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <ng-template ngFor let-level [ngForOf]="salsSvc.levels">
          <label class="btn btn-level btn-rounded form-check-label" [class.active]="level.value === this.salsSvc.SelectedSAL?.ALevel" (click)="saveLevel(level.value,'A')">
            <input class="form-check-input" type="radio" autocomplete="off" name="sal_availability"
              [checked]="level.value === this.salsSvc.SelectedSAL?.ALevel"> {{level.value}}
          </label>
        </ng-template>
      </div>
    </div>
  </div>


  <div class="fips-instructions mb-3">
    <p>The FIPS 199 guide below will help you learn how to determine the overall security categorization of the system under
      assessment. If you are unfamiliar with the FIPS 199 SAL Determination screen, please read the guide before proceeding.</p>
    <div class="fips-reference">
      <a href="{{configSvc.docUrl}}ApplicationDocuments/FIPS199Language.html" rel="noopener noreferrer" target="_blank">
        <i class="icon icon-openbookicon vmiddle"></i>&nbsp;FIPS 199 SAL Selection Guidance</a>
    </div>
    <p>Other Guides:</p>
    <div class="fips-reference">
      <a href="{{configSvc.docUrl}}FIPS%20199.pdf" rel="noopener noreferrer" target="_blank">
        <i class="icon icon-openbookicon vmiddle"></i>&nbsp;FIPS 199</a>
      <a href="{{configSvc.docUrl}}NIST%20SP800-60%20V1.pdf" rel="noopener noreferrer" target="_blank">
        <i class="icon icon-openbookicon vmiddle"></i>&nbsp;NIST SP800-60 Vol I</a>
      <a href="{{configSvc.docUrl}}SP800-60_Vol2-Rev1.pdf" rel="noopener noreferrer" target="_blank">
        <i class="icon icon-openbookicon vmiddle"></i>&nbsp;NIST SP800-60 Vol II</a>
    </div>
  </div>
</div>
<div class="mb-3">
  <h4>CIA Values Based on Selected Information Types</h4>
  <div>
    <p>Check applicable information types.</p>
    <table class="nist-sal-info-types table" style="table-layout: fixed">
      <tr>
        <th style="width:5%"></th>
        <th style="width: 50%">Type</th>
        <th style="width: 15%">C</th>
        <th style="width: 15%">I</th>
        <th style="width: 15%">A</th>
      </tr>
      <tr *ngFor="let model of topModel?.models">
        <td>
          <input type="checkbox" id="{{model.NIST_Number}}" value="{{model.Type_Value}}" (change)="checkBoxChanged($event, model)"
            [checked]="model.Selected">
        </td>
        <td>
          <label for="{{model.NIST_Number}}">
            {{model.Type_Value}} : {{model.NIST_Number}}</label>
        </td>
        <td>
          <a class="special-factors-link" *ngIf='model.Confidentiality_Special_Factor; else basicC' matTooltip="Clicking this will overwrite the Confidentiality Special Factor"
            (click)="changeSpecialFactor(model, 'C')">
            {{salsSvc.getDisplayLevel(model.Confidentiality_Value)}}
          </a>
          <ng-template #basicC>{{salsSvc.getDisplayLevel(model.Confidentiality_Value)}}</ng-template>
        </td>
        <td>
          <a class="special-factors-link" *ngIf='model.Integrity_Special_Factor; else basicI' matTooltip="Clicking this will overwrite the Integrity Special Factor"
            (click)="changeSpecialFactor(model, 'I')">
            {{salsSvc.getDisplayLevel(model.Integrity_Value)}}
          </a>
          <ng-template #basicI>{{salsSvc.getDisplayLevel(model.Integrity_Value)}}</ng-template>
        </td>
        <td>
          <a class="special-factors-link" *ngIf='model.Availability_Special_Factor; else basicA' matTooltip="Clicking this will overwrite the Availability Special Factor"
            (click)="changeSpecialFactor(model, 'A')">{{salsSvc.getDisplayLevel(model.Availability_Value)}}</a>
          <ng-template #basicA>
            {{salsSvc.getDisplayLevel(model.Availability_Value)}}
          </ng-template>
        </td>
      </tr>
    </table>
  </div>


  <div class="mb-3">
    <h4>Answer Questions</h4>
    <table class="nist-sal-questions table">
      <tr *ngFor="let question of topModel?.questions">
        <td>{{question.Question_Text}}</td>
        <td class="yes-no-answers">
          <div class="btn-group btn-group-toggle" style="white-space: nowrap" data-toggle="buttons">
            <label class="btn btn-level btn-rounded form-check-label" [class.active]="question.Question_Answer === 'Yes'" (click)="saveQuestionChanged(question,'Yes')">
              <input class="form-check-input" type="radio" autocomplete="off" name="options{{question.Question_Number}}" [checked]="question.Question_Answer === 'Yes'">Yes
            </label>
            <label class="btn btn-level btn-rounded form-check-label" [class.active]="question.Question_Answer === 'No'" (click)="saveQuestionChanged(question,'No')">
              <input class="form-check-input" type="radio" autocomplete="off" name="options{{question.Question_Number}}" [checked]="question.Question_Answer === 'No'">No
            </label>
          </div>
        </td>
      </tr>
    </table>
  </div>


  <div class="mb-3">
    <h4>Determine Special Factors</h4>
    <div class="form-group special-factors">
      <label for="ConfidentialitySpecialFactor">Confidentiality Special Factor</label>
      <textarea class="form-control" id="ConfidentialitySpecialFactor" [(ngModel)]="topModel?.specialFactors.Confidentiality_Special_Factor"
        (change)="specialFactor()"></textarea>
      <label for="IntegritySpecialFactor">Integrity Special Factor</label>
      <textarea class="form-control" id="IntegritySpecialFactor" [(ngModel)]="topModel?.specialFactors.Integrity_Special_Factor"
        (change)="specialFactor()"></textarea>
      <label for="AvailabilitySpecialFactor">Availability Special Factor</label>
      <textarea class="form-control" id="AvailabilitySpecialFactor" [(ngModel)]="topModel?.specialFactors.Availability_Special_Factor"
        (change)="specialFactor()"></textarea>
    </div>
  </div>
