<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<h4>Demographics</h4>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="mb-1" for="sector">Sector</label>
            <select class="form-control" id="sector" name="sector" (change)="onSelectSector($event.target.value)"
                [(ngModel)]="demographicData.SectorId">
                <option value="0">--Select Sector--</option>
                <option *ngFor="let sector of sectorsList" [value]="sector.SectorId">{{sector.SectorName}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="mb-1" for="industry">Industry</label>
            <select class="form-control" id="industry" name="industry" [(ngModel)]="demographicData.IndustryId"
                (change)="update($event)">
                <option value="0">--Select Industry--</option>
                <option *ngFor="let industry of industryList" [value]="industry.IndustryId">{{industry.IndustryName}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="assetValue">What is the gross value of the asset you are trying to protect?</label>
        <select class="form-control" id="assetValue" name="assetValue" (change)="changeAssetValue($event)">
            <option selected disabled>Not Selected</option>
            <option *ngFor="let asset of assetValues" [value]="asset.DemographicsAssetId" [selected]="asset.DemographicsAssetId === demographicData.AssetValue">{{asset.AssetValue}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="size">What is the relative expected effort for this assessment?</label>
        <select class="form-control" id="size" name="size" (change)="changeSize($event)">
            <option *ngFor="let s of sizeList" [value]="s.DemographicId" [selected]="s.DemographicId === demographicData.Size">{{s.Description}}</option>
        </select>
    </div>
</form>