<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="white-panel oy-auto d-flex flex-column flex-11a">
  <h3>Reports</h3>
  <p>
    Create your final reports. You can add descriptions, comments, and an executive summary to your reports. You can
    also specify comments and descriptive text.
  </p>

  <div class="d-flex flex-column justify-content-start align-items-start flex-11a">
    <button (click)="clickReportLink('executive')" class="btn btn-link btn-link-dark">Executive Summary</button>

    <button (click)="clickReportLink('sitesummary')" class="btn btn-link btn-link-dark">Site Summary Report</button>

    <button (click)="clickReportLink('securityplan')" class="btn btn-link btn-link-dark">Site Cybersecurity Plan</button>

    <button (click)="clickReportLink('detail')" class="btn btn-link btn-link-dark">Site Detail Report</button>

    <button (click)="clickReportLink('discoveries')" class="btn btn-link btn-link-dark">Observations Tear-Out Sheets</button>

  </div>
  <div class="mt-3 d-flex justify-content-between flex-00a">
    <button class="btn btn-primary" (click)="navSvc2.navBack('reports')">Back</button>
    <button class="btn btn-primary" (click)="navSvc2.navNext('reports')">Next</button>
  </div>
</div>
