<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
-------------------------->
<div class="white-panel d-flex justify-content-start flex-column flex-11a">
  <h3 class="mb-4">Trend Analytics</h3>

  <div class="analytics-wrapper">
    <div class="chart d-flex flex-column flex-00a mb-5">
      <h3>
        Overall Percent Compliance Score
      </h3>
      <div *ngIf="chartOverallCompl == null">
        <div class="spinner-container" style="margin: 2em auto">
          <div style="max-width: 50px; max-height: 50px;"></div>
        </div>
      </div>
      <canvas id="canvasOverallCompliance">{{ chartOverallCompl }}</canvas>
    </div>

    <div class=" chart d-flex flex-column flex-00a mb-5">
      <h3>
        Top 5 Most Improved Areas
      </h3>
      <div *ngIf="chartTop5 == null">
        <div class="spinner-container" style="margin: 2em auto">
          <div style="max-width: 50px; max-height: 50px;"></div>
        </div>
      </div>
      <canvas id="canvasTop5">{{ chartTop5 }}</canvas>
    </div>

    <div class=" chart d-flex flex-column flex-00a mb-5">
      <h3>
        Top 5 Areas of Concern
      </h3>
      <div *ngIf="chartBottom5 == null">
        <div class="spinner-container" style="margin: 2em auto">
          <div style="max-width: 50px; max-height: 50px;"></div>
        </div>
      </div>
      <canvas id="canvasBottom5">{{ chartBottom5 }}</canvas>
    </div>

    <div class=" chart d-flex flex-column flex-00a mb-5">
      <h3>Category Percent Comparisons</h3>
      <div *ngIf="chartCategoryPercent == null">
        <div class="spinner-container" style="margin: 2em auto">
          <div style="max-width: 50px; max-height: 50px;"></div>
        </div>
      </div>
      <div class="chart-container" style="position: relative; height:80vh; width: 100%">
        <canvas id="canvasCategoryPercent">{{ chartCategoryPercent }}</canvas>
      </div>
    </div>
  </div>

  <div class="mt-3 d-flex justify-content-between flex-00a">
    <button class="btn btn-primary" (click)="navSvc.navBack('trend-analytics')">Back</button>
    <button class="btn btn-primary" (click)="generateReport('trendreport')">Generate Trend Report</button>
  </div>
</div>