<!---------------------- 

   Copyright 2020 Battelle Energy Alliance, LLC  

  Permission is hereby granted, free of charge, to any person obtaining a copy 
  of this software and associated documentation files (the "Software"), to deal 
  in the Software without restriction, including without limitation the rights 
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
  copies of the Software, and to permit persons to whom the Software is 
  furnished to do so, subject to the following conditions: 
 
  The above copyright notice and this permission notice shall be included in all 
  copies or substantial portions of the Software. 
 
  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE 
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE 
  SOFTWARE. 
--------------------------> 
<div class="assess-compenent d-flex flex-column justify-content-start flex-11a mb-4">
  <div class="white-panel oy-auto h-0 d-flex flex-column justify-content-start flex-11a">
    <h3 class="mb-3">Assessment Information</h3>
    <app-assessment-detail class="mb-4 d-flex justify-content-end flex-00a"></app-assessment-detail>
    <app-assessment-contacts class="mb-4 d-flex justify-content-end flex-00a"></app-assessment-contacts>
    <app-assessment-demographics class="mb-4 d-flex justify-content-end flex-00a"></app-assessment-demographics>

    <div class="d-flex justify-content-end flex-00a mb-2r">
      <button class="btn btn-primary" (click)="navSvc2.navNext('info')">Next</button>
    </div>
  </div>
</div>

